annotated-types                  
asgiref                          
attrs                            
certifi                          
charset-normalizer               
click                            
colorama                         
distlib                          
Django                           
django-bootstrap-datepicker      
django-bootstrap-datepicker-plus 
django-mssql-backend             
django-pyodbc-azure              
django-tempus-dominus            
docutils                         
exceptiongroup                   
filelock                         
idna                             
iniconfig                        
joblib                           
Kivy                             
kivy-deps.angle                  
kivy-deps.glew                   
kivy-deps.sdl2                   
Kivy-examples                    
Kivy-Garden                      
mssql-django                    
mysql-connector                  
mysql-connector-python           
nltk                             
packaging                        
Pillow                           
pip                              
platformdirs                
pluggy                       
psycopg2                   
pydantic                     
pydantic_core             
Pygments                     
pyodbc                         
pyparsing                    
pypiwin32                     
pypyodbc                     
pytest                       
python-dateutil                 
pytz                         
pywin32                       
regex                         
requests                    
setuptools                    
six                           
sqlparse                    
textblob                  
tk                             
tomli                     
tqdm                       
typing_extensions            
tzdata                    
urllib3                      
virtualenv            
virtualenvwrapper-win           
