{% extends 'galaxy/base.html' %}
    {% block body %}
        <div  id="contact" style="COLOR:green; FONT-SIZE:15PX;font: arial">
            <h2 >Contact Us</h2>
            <hr >

            <div >
                <p><i ></i> Chicago, US</p>
                <p><i></i> Phone: +00 151515</p>
                <p><i> </i> Email: mail@mail.com</p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/action_page.php" target="_blank">
                <p><input  class="contactInput" type="text" placeholder="Name..." required name="Name"></p>
                <p><input  class="contactInput" type="text" placeholder="Email..." required name="Email"></p>
                <p><input  class="contactInput" type="text" placeholder="Subject..." required name="Subject"></p>
                <p><input  class="contactInput" type="text" placeholder="Message..." required name="Message"></p>
                <p>
                    <button  type="submit">
                        <i ></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>

    {% endblock body %}