/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 9, 2023, 3:20:36 PM
    Author     : rao_m
*/

body {
  font-family: 'Lato', sans-serif;
  
}


pageheader {
  /* background-color: lightgray; */
  /* border-radius: 20px; */
  color: blue;
  font-size: 25px; 
  font-weight: bold;
  position: fixed;
  top: 75px;
  width: 50%;
  right: 25%;
  transition-property : all;
  transition-duration: 1s;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.cart1 {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 58px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.9);
  background-color:  #e9efed;
  overflow-x: hidden;
  overflow-y:auto;
  transition: 0.5s ;
}


.cart1-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  top: 10%;
  color:black
}
.cart1 a {
  padding: 8px;
  text-decoration: none;
  font-size: xx-large;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.cart1 a:hover, .cart1 a:focus {
  color: darkgreen;
  font-weight: bold;
}

.cart1 .closebtn {
  position: absolute;
  font-size: x-large;
  right: 45px;
  
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 58px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.9);
  background-color:  #e9ecef;
  overflow-x: hidden;
  transition: 0.5s ;
  overflow-y:auto;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color:black
  
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: large;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: darkgreen;
  font-weight: bold;
}

.overlay .closebtn {
  position: absolute;
  font-size: x-large;
  right: 20px;
  
}

.overlay2 {
  width: 0;
  position:absolute;
  z-index: 4;
  box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.9);
  background-color:  #e9ecef;
  overflow-x: hidden;
  transition: 0.5s ;
  overflow-y:auto;
}

.overlay2-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  top: 10%;
  color:black
  
}

.overlay2 a {
  padding: 8px;
  text-decoration: none;
  font-size: medium;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay2 a:hover, .overlay2 a:focus {
  color: darkgreen;
  font-weight: bold;
}

.overlay2 .closebtn {
  position: absolute;
  font-size: x-large;
  right: 10px;
  
}

/*
@media screen and (max-height: 450px) {
  .overlay a {font-size: xx-small}
  .overlay .closebtn {
  font-size: xx-small;
  top: 15px;
  right: 35px;
  }

}
*/


input[type=text], select, textarea, url {
  /* width: 95%; */
  padding: 12px 0px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  word-wrap:break-word; 
  
}

input[type=date] {
  /* width: 95%; */
  padding: 12px 0px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}
input[type=number] {
  /* width: 95%; */
  padding: 12px 0px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

input[type=tel] {
  /* width: 95%; */
  padding: 12px 0px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

input[type=email]{
  /* width: 95%; */
  padding: 12px 0px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

input[type=password] {
    /* width: 50%; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('imgs/password.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color :green;
}
dt {
   padding: 5px 5px 5px 0;
  color :green; 
  font-size:medium
}
dd {
   padding: 5px 5px 5px 0;
  color :black; 
  font-size:medium
}
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
    color:green;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: medium;
    transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.closeLI {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.closeLI:hover {
  background-color: #f44336;
  color: white;
}

.input[type=file] {
  width: 100%;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;

}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {

  border-radius: 5px;
  background-color:#c8c389;
  padding: 20px;

}

.subcontainer {
  display: none;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: lightgray;
  padding: 20px;
 

}

.smallcontainer {
display: none;
border-radius: 10px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
background-color: whitesmoke;
padding: 20px;
height: auto;
width: auto;
transition: all 0.8s;
}

.col-5 {
  float: left;
  width: 5%;
  margin-top: 6px;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 6px;
  color: black;
}
.col-12 {
  float: left;
  width: 12%;
  margin-top: 6px;
  color: black;
}

.col-11 {
  float: left;
  width: 11%;
  margin-top: 6px;
  color: black;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
  color: black;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: black;
}
.col-24 {
  float: left;
  width: 24%;
  margin-top: 6px;
  color: black;
}
.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
  color: black;
  font-size: 18px;
}
.col-pricing-button {
  float: left;
  width: 24%;
  margin-top: 6px;
  color: black;
}

.col-45 {
  float: left;
  width: 45%;
  margin-top: 6px;
  color: black;
  font-size: 15px;
}

.col-48 {
  width: 48%;
  margin-top: 6px;
  color: black;
  font-size: 15px;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
  color: black;
  font-size: 15px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
  color: black;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
  color: black;
}

.col-65 {
  float: left;
  width: 65%;
  margin-top: 6px;
}
.col-74 {
  float: left;
  width: 65%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.orgrow:after {
  content: "";
  display: table;
  clear: both;
}

.pagetitle {
    text-align: center;  
    vertical-align: middle;
    font-size:xx-large;
    font-weight:bolder;
    color:darkgreen;
}
.title {
    font-size:large;
    font-weight:bolder;
    color:green
}

.btn {
  background-color: green;
  color: white;

  margin: 10px 0;
  border-style: solid;
  border-color:  black;
  border-radius: 20%;
  width: 10%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  padding-left: 10px;
}

.btn:hover {
  background-color: white;
  color : green;
}

.btn1 {
  background-color: transparent;
  color: darkgreen;
  border: solid;
  border-radius: 20%;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  padding : 5px;
  box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.2);

}

.btn1:hover {
  background-color: white;
  color : green;
}

.btn3 {
  float: right;
  background-color: transparent;
  margin:0;
  color: black;
  width: 10%;
  cursor: pointer;
  font-size: small;
  text-align: center;
  padding : 15px 0px 0px 0px;
}

.btn3:hover {
  /* background-color: white; */
  color : white;
}

.btn2 {
  background-color: transparent;
  color: darkgreen;
  border: solid;
  border-radius: 20%;
  width: 90%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  padding : 5px;
  box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.2);
}
.btn2:hover {
  background-color: white;
  color : green;
}
.useravatar {
  vertical-align: middle;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.password-container{position: relative;}
#pswMessage,#pswMatchMsg {display:none;background: inherit;color: #000;position: relative;}
#pswMessage p,#pswMatchMsg p {font-size: 12px;color:red;font-weight: bold;font-style: italic}

/*error messages */

.passerror{        
  color: red;
  text-align:left;
  padding-left: 200px;
  }
      
      
.messages {
  margin-bottom: 10px;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align:center;
  opacity: 1;
  transition: opacity 1.25s ease;
  font-size: medium;

}
    
.message {
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
        
}
    
.success {
        
  color: #3c763d;
}
    
.error {
        
  color: #a94442;
}

.gender-radio input[type="radio"] {
  display: inline;
  margin-right: 5px;
}
    
.gender-radio label {
  display: inline;
  margin-right: 10px;
}
    


/* Float cancel and delete buttons and add an equal width */
.modeldelete_cancelbtn, .modeldelete_deletebtn {
  align-content: center;
  width: 30%;
}

/* Add a color to the cancel button */
.modeldelete_cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.modeldelete_deletebtn {
  background-color: #f44336;
}

/* The Modal (background) */
.deletemodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.9);
  padding-top: 50px;

}

/* Modal Content/Box */
.deletemodal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.salestax {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.9);
  padding-top: 50px;

}

/* Modal Content/Box */
.salestax-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  cursor: pointer;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.deletemodel_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.deletemodel_close:hover,
.deletemodel_close:focus {
  color: #f44336;
  cursor: pointer;
}

/* The salestax Close Button (x) */
.salestax_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.salestax_close:hover,
.salestax_close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

.sticky {
  font-size: small; 
  font-weight: bold;
  position: fixed;
  top: 51px;
  padding: 10px;
  width: 100%;
  background-color : lightgray;
  color: black;
  transition: all 0.8s;
  z-index:3 ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.accordion{ 

  text-align: left;
  margin: 5px;
  border-radius:10px;
  border:solid;
}

.accordion-content{
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height 0.3s;  
  background: #f1f1f1;
  overflow: hidden;
  width: 100%;
  border-radius:10px;
  border:none;



  
}

.accordion-inner{
  padding: 0 15px;

}

.accordion-toggle{
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;   
  -ms-transition: background 0.3s linear;   
  -o-transition: background 0.3s linear;   
  transition: background 0.3s linear;   
  background-color: #c8c389;
  border-radius: 3px;
  color: black;
  display: block;
  margin: 0 0 0px;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  outline: none;
  font-size: large;
  
  &:hover{
    background-color: rgba(246, 210, 5, 0.558); 
    color:white;
    /* background: darken(rgb(79, 70, 21), 50%); */
  }
 
}

.online {border-color:darkgreen;border-radius:10px;color:white;background-color:yellowgreen;box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.3);margin-left:10px;font-size:x-small;} 
.offline {border-color:rgb(100, 0, 0);border-radius:10px;color:white;background-color:rgb(229, 94, 94);box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.3);margin-left:10px;font-size:x-small;} 
.divTools {border-color:darkgreen;border-radius:10px;color:white;background-color:yellowgreen;box-shadow: 0px 8px 16px 0px rgba(10, 78, 10, 0.3);margin-left:10px;font-size:medium;float:right;cursor: pointer;
  &:hover{
    background-color: rgba(246, 210, 5, 0.558); 
    color:green;} }

.tableHeader{font-size:small;color:black;}
.tableRow{font-size:x-small;color:darkgreen;}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-100,.col-65,.col-20,.col-35,.col-25,.col-30,.col-50, .col-75,.col-15,.col-10,.col-5,.col-60,.col-11,.col-45,.col-40 input[type=submit] 
  {
    width: 100%;
    margin-top: 0;
  }
  .overlay a {font-size: small}
  .overlay-content a {font-size: medium}
  
  .overlay 
  {
  font-size: small;
  top: 55px;
  right: 35px;
  }
  .overlay2 a {font-size: small}
  .overlay2-content a {font-size: small}
  .overlay2 
  {
  font-size: small;
  }
.pagetitle {
    text-align: center;  
    vertical-align: middle;
    font-size:large;
    font-weight:bolder;
 
}
.title {
    font-size:medium;
    font-weight:bolder;
}
.closebtn {
    font-size:x-small;
    font-weight:bolder;
}
label {
  color :green;
  font-size: small;
}
dt {
  color :green; 
  font-size:small
}
dd {
  color :black; 
  font-size:small
}
ul li {
  font-size: small;
}

input[type=text],input[type=number], select, textarea {
  font-size: small;
}

input[type=password]{
  font-size: small;
  width: 100%;
}

.passerror{        
  font-size:small;
  padding-left:0px;
}

.modeldelete_cancelbtn, .modeldelete_deletebtn {width: 100%;}
.deletemodal-content {width: 90%;}
.btn {width: 35%;font-size: small;}
.btn1 {width: 35%;font-size: small;}
.btn2 {width: 30%;font-size: small;}
.btn3 {width: 10%;font-size: small;}
label {color :green;font-size: small;}
input[type=text],input[type=email],select, textarea, url {width: 95%;}
input[type=password] {width: 90%;}
#searchtext {width:50%}
#searchlist {width:60%;left:20%;}
.divTools {font-size: small;}
.overlay a {font-size: small}
.orgrow a {font-size:small}
.tableHeader{font-size:small;color:black;}
.tableRow{font-size:x-small;color:darkgreen;}
}

@media screen and (min-width: 601px) and (max-width: 1025px){

  .btn {width: 20%;font-size: small;}
  .btn1 {width: 20%;font-size: small;}
  .btn3 {width: 5%;font-size: small;}
  ul li {font-size: small;padding: 12px  8px 12px 40px;}
  label {color :green;font-size: small; }
  input[type=text],input[type=email], select, textarea,url {width: 90%;}
  input[type=password] {width: 75%;}
  .title {font-size: medium}
  .overlay2 a {font-size: small}
  .divTools {font-size: medium;}
  #searchtext {width:25%}
  #searchlist {width:45%;left:42%;}
  .orgrow a {font-size:medium}
  .overlay a {font-size: medium}
  .tableHeader{font-size:medium;color:black;}
.tableRow{font-size:small;color:darkgreen;}
  
}

@media screen and (min-width: 1026px){

  .btn {width: 15%;font-size: medium;}
  .btn1 {width: 15%;font-size: medium;}
  .btn2 {width: 90%;font-size: medium;}
  .btn3 {width: 5%;font-size: medium;}
  ul li {font-size: medium;padding: 12px  8px 12px 40px;  }
  label {color :green;font-size: medium;}
  .overlay2 a {font-size: medium}
  .title {font-size: large}
  .divTools {font-size: large;}
  input[type=text],input[type=email], select, textarea, url {width: 50%;}
  input[type=password] {width: 50%;}
  #searchtext {width:25%}
  #searchlist {width:35%;left:42%;}
  .orgrow a {font-size:large}
  .overlay a {font-size: large}
  .tableHeader{font-size:large;color:black;}
.tableRow{font-size:medium;color:darkgreen;}
}