{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="GALAXY Retail system">
        <meta name="keywords" content="pos,point,sale,inventory,management,best,first,retail,system">
        <meta name="author" content="Raouf Mostafa">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/galaxy_home_logo.png' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/avatar.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/dropdown_menu.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/products_managment.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/background_stars.css' %}"/>
        <script src="{% static 'js/products_managment.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      {% comment %} ----------------------------- for stars background--------------------------- {% endcomment %}
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        {% comment %} --------------------------------for alertify---------------------------------- {% endcomment %}
        <!-- JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        {% block header %}{% endblock header %}
        <style>
            .right-align {
                {% comment %} float: right; {% endcomment %}
                top: 0px;
                right:  -5px;  
            }
            .dropbtn {
                display: flex;
                align-items: center;
            }
              
           
              
            .button-text {
                margin-right: 0px; /* Add spacing between the button text and avatar */
              }
              
            .fa-caret-down {
                margin-left: 20px; /* Add spacing between the avatar and caret icon */
              }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55vh;
            }
            
            .image-container img {
                width: 375px;
                height: 350px;
            }
            
            .input-wrapper {
              position: relative;
              display: inline-block;
            }
          
            .input-wrapper input {
              transform: rotate(90deg);
              transform-origin: left top;
              width: 100px;
              height: 20px;
              padding: 5px;
              position: absolute;
              left: -45px;
              top: 40px;
              border: 1px solid #ccc;
            }

            .promoBtn{
              color : black;
              background-color : #c8c389;
              width: 8%;
              padding: 0px;
              margin: 0px;
              border: none;
              cursor: pointer;
            }

            #searchtext {
              background-position: 10px 12px;
              background-repeat: no-repeat;
              font-size: 16px;
              padding: 7px 5px 7px 12px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
              margin:10px 10px 10px 10px;
            }

        </style>
        
        
        
    </head>
    <body style="font-family: 'Lato': sans-serif; padding-top: 65px;" >{% comment %}   background-image: url('{% static 'files_images/background_image.jpg' %}');" {% endcomment %}
            <section class="wrapper">
              <div id="stars"></div>
              <div id="stars2"></div>
              <div id="stars3"></div>
              {% comment %} <div id="title">
                  <span>PURE CSS</span>
                  <br>
                  <span>PARALLAX PIXEL BACKGROUND</span>
              </div> {% endcomment %}
            </section>
            <div class="topnav" id="myTopnav" style="text-align:center">
            
                <a href="{% url 'index' %}"  class="active">Home</a>
                
                <a href="{% url 'pricing' %}" >Pricing</a>
                <a href="{% url 'contact_us' %}" >Contact</a>
                <a href="{% url 'about_us' %}" >About</a>
                <input id="searchtext" oninput="viewsearchlist()" onkeyup="searchFunction()" type="text" style="margin:10px 10px 10px 10px;" placeholder="Search.." name="search">

                {% if request.user.is_authenticated %}
                

                        <div class="cart">
                            <button id="cart-btn" onclick="openrightNav('cartNav')" class="cartbtn dropbtn"><span class="price" style="color:black"><img src="{% static 'files_images/cart-orange.png' %}" draggable="false" width="25" height="30"></span><p id="in-cart" style="color:black;">{{in_cart}}</p>
                              {% comment %} <i style="color:black" class="fa fa-caret-down"></i> {% endcomment %}
                            </button> 
                              
                        </div>
                        <div class="dropdown" >
                            <button class="dropbtn">
                                
                                <div class="avatar avatar--medium active right-align">
                                  <img {% if request.user.avatar %}src="{{ request.user.avatar.url }}" {% else %} src="{% static 'files_images/avatar.svg' %}" {% endif %} draggable="false" />
                                </div>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" style="position: fixed;z-index: 2;">
                              <div class="pagetitle" style="padding-top:20px;padding-left:20px;text-align: left;">
                                <div>{{ request.user.username|capfirst }}</div>
                              </div>
                              <div class="container" >
                                  <div class="smallcontainer" style="display:block;">
                                    <a style = "cursor: pointer" onclick="openprofileNav()" >Profile</a>
                                    <a id = 'pass-btn' style = "cursor: pointer" onclick="openpasswordNav()" >Password</a>
                                    <a href="{% url 'my_products' %}">My Products</a>
                                    {% comment %} {% if request.user.user_Type == s_u %}{% if su_basic_sub and su_user_sub and su_org_sub and su_store_sub %}<a style = "cursor: pointer" onclick="window.location.href='http://192.168.1.11:9000/'" >App</a>{% endif %}{% endif %} {% endcomment %}
                                    <a style = "color: red;" href="{% url 'logout' %}"><strong>Logout</strong></a>
                                </div>
                              </div> 
                            </div>
                        </div>
                 {% else  %}    
                 <a id="loginkey" style = "float : right;color: white;" href="{% url 'login' %}"><strong>Login</strong></a>
                {% endif %}
                {% comment %} <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>                   {% endcomment %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
              
            {% comment %} {% if not request.user.is_authenticated %}
              <div>
                <marquee style="color:white;font-stretch:condensed;font-size:x-large; transition: 0.2s;"> Start Now - It's Free </marquee>
              </div>
            {% endif %}   {% endcomment %}
            {% block startnow %}{% endblock startnow %}
            <div  id="cartNav" class="cart1" style="width: 0%">
            
              <a href="javascript:void(0)" class="closebtn" onclick="closerightNav('cartNav')" style="font-size: x-large;right: 15px;">&times;</a>
              <div class="pagetitle" style="padding-top:20px;padding-left:20px;text-align: left;">
                    <div>Cart</div>
                          
                    <p></p>
              </div>
                <div>
                    <div class="container">
                      <div id="cartinfo" class="smallcontainer" style="display:block;">
                        <div class="orgrow" style="display:block;font-size:small; color: black;">
                          <div class="col-24" style="width: 45%;background-color:lightgray">
                              <a style="alignment: left; font-size: small;color: black;">Products</a>
                          </div>
                          <div class="col-24" style=" width: 10%;background-color:lightgray">
                              <a style="font-size: small;color: black;"><center>Qty</center></a>
                          </div>
                          <div class="col-24" style=" width: 35%;background-color:lightgray">
                              <a style="font-size: small ;color: black;"> <center>Unit Price</center></a>
                          </div>
                        </div>
                        <div id="cart-cont" class="orgrow">  
                          {% if cart %}
                           {% for p in cart %}
                            <div class="orgrow del items id{{p.ProductID.id}}">
                              <div class="col-24" style="width: 45%;">
                                    <a style="alignment: left; font-size: small;color: black;" >{{p.ProductID.Name}}</a>
                              </div>
                              <div class="col-24 a" style=" width: 10%;">
                                    <a class="qty" style="font-size: small;color: black;"><center>{{p.Qty}}</center></a>
                              </div>
                              <div class="col-24" style=" width: 35%;">
                                    <a style="font-size: small ;color: black;"><center>${{p.ProductID.Price}}/{{p.ProductID.Type}}</center></a>
                              </div>
                              <div class="col-24" style=" width: 5%;">
                                    <center><a class="fa fa-remove delete-btn" style="font-size: large; padding-top: 10px; color: red;" data-product-id="{{ p.ProductID.id }}"></a></center>
                              </div>
                            </div>
                           {% endfor %}
                          {% else %}
                            <center><h1 id="empty-el">Empty</h1></center>
                          {% endif %}
                        </div>
                  </div>
                </div>
              </div>
              <div class="title" style="font-size:large;padding-top:20px;padding-left:20px;text-align: left;" >
                <div style="display: flex; align-items: center;"><span style="margin-right: 5px;">Sub Total : $</span><div id="subtotal">{{total|floatformat:2}}</div></div>
                <div style="display: flex; align-items: center;">Promo Code : <input class="input-wrapper" name="promo-code" id="promo-code" type="text" style="width:25%;height:1.5px; margin-left: 5px;"><button style="height:26px" class = "add-promo btn1">Apply</button><button style="height:26px" class = "remove-promo promoBtn btn1" onclick="removePromo()">Remove</button><span id="promo-error" style="color: red; padding-left: 5px; font-size: small;"></span><span id="promo-success" style="color: green; padding-left: 5px; font-size: large;"></span></div>
                <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="margin-right: 5px;">Grand Total : $</span><div id="grandtotal">{{total|floatformat:2}}</div></div>
                <div style="align-content: center;font-size:large;padding-right: 10%"><input id="checkout" onclick="location.href='{% url 'payment' %}'" type="submit" value="Continue to checkout" class="btn" style="width:90%;" ></div>
              </div>
            </div>

            <div id="searchlist" style="position:absolute;z-index:5;top:35px;padding:12px;display:none">
              <ul id="searchUL">
                <li><a style="padding:5px;color:green" href="/my_products/users" onclick="hidesearchlist()">Manage Users</a></li>
                <li><a style="padding:5px;color:green" href="/my_products/organizations">Manage organizations</a></li>
                <li><a style="padding:5px;color:green" href="/my_products">My Products</a></li>
                <li><a style="padding:5px;color:green" href="/about_us">about_us</a></li>
              </ul>
            </div>
            
              
            
           
            
            {% block body %}
            
            {% endblock body %}
            
            {% block additional %}
            {% endblock additional %}

          

          {% include "galaxy/password.html" %}
          {% include 'galaxy/profile.html' %}
           <!--Start of Tawk.to Script-->
            <script type="text/javascript">
              var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
              (function(){
              var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
              s1.async=true;
              s1.src='https://embed.tawk.to/652d77566fcfe87d54ba5381/1hcspkb6o';
              s1.charset='UTF-8';
              s1.setAttribute('crossorigin','*');
              s0.parentNode.insertBefore(s1,s0);
              })();
            </script>
            <!--End of Tawk.to Script-->
          <Script> 
            function displaycartcontent()
            {
            if(document.getElementById("cartcont").style.display === 'block')
            {
                document.getElementById("cartcont").style.display = 'none';
            }
            else
            {
                document.getElementById('cartcont').style.display = 'block';
            }
            }
          </script>
          <Script>
            // Get the modal
            var modal = document.getElementById("userprofileNav");
        
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
        
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {           
              modal.style.display = "none";
            };
        
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {            
              if (event.target === modal) {
                modal.style.display = "none";
              }
            };
          </script>
          <script>
            document. addEventListener('mouseup', function(e) {
              var container = document. getElementById('cartNav');
              if (! container. contains(e. target)) {
              container. style.width = "0%";
              }
            });
          </script>
          <Script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } 
              else if (x.className != " responsive") {
                x.className = "topnav";
              }
            }
          </script>
          <script>
            window.addEventListener("resize", resizeCurtainMenu);
            function resizeCurtainMenu() {
            var w = window.innerWidth;
            if (document.getElementById("cartNav").style.width != "0%")
              {if( w >= 1025 )
                {document.getElementById("cartNav").style.width = "35%";}
                else 
                {
                    if(w > 700 && w < 1025)
                      {document.getElementById("cartNav").style.width = "60%";}
                      else
                      {document.getElementById("cartNav").style.width = "90%";}
              }
            }
            }
          </script>
          <script>

            window.addEventListener("resize", resizeCurtainMenu);
           
            function resizeCurtainMenu() {
              
            var w = window.innerWidth;
            if (document.getElementById("userNav").style.width > "0%")
          
              if( w >= 1025 )
                {document.getElementById("userNav").style.width = "30%";}
                else 
                {
                    if(w > 800 && w < 1025)
                      {document.getElementById("userNav").style.width = "40%";}
                      else
                      {document.getElementById("userNav").style.width = "60%";}
              }
            }
          </script>
          <script>
            window.addEventListener("resize", resizeCurtainMenu);
            function resizeCurtainMenu() {
            var w = window.innerWidth;
            if (document.getElementById("orgNav").style.width > "0%")
              {if( w >= 1025 )
                {document.getElementById("orgNav").style.width = "30%";}
                else 
                {
                    if(w > 800 && w < 1025)
                      {document.getElementById("orgNav").style.width = "40%";}
                      else
                      {document.getElementById("orgNav").style.width = "60%";}
              }
            }
            }
          </script>

         {% comment %} ---------------------------------------page title------------------------------------------------------------ {% endcomment %}
         
         <script>
                      
            // When the user scrolls down 50px from the top of the document, resize the header's font size
            window.onscroll = function() {
              topnavdisappear();
              scrollFunction();
              };
             
            
             

            function scrollFunction() {
              if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 5) {
                
                document.getElementById("header").style.top = "0px";
                //document.getElementById("header").style.fontSize = "15px";
                //document.getElementById("title").style.fontSize = "15px";
                document.getElementById("header").style.width = "100%";
                document.getElementById("header").style.color = "green";
                document.getElementById("header").style.padding = "10px";
                document.getElementById("header").style.cursor = "pointer";
                var Div1top = document.getElementById('Div1').getBoundingClientRect().top;
                var Div2top = document.getElementById('Div2').getBoundingClientRect().top;
                var Div3top = document.getElementById('Div3').getBoundingClientRect().top;
                var Div4top = document.getElementById('Div4').getBoundingClientRect().top;
                if (document.getElementById('Div5'))  {
                  var Div5top = document.getElementById('Div5').getBoundingClientRect().top;
                }
                if (document.getElementById('Div6'))  {
                  var Div5top = document.getElementById('Div6').getBoundingClientRect().top;
                }
                var mypos = window.pageXOffset;
                if (Div1top < mypos) {document.getElementById('titleDiv1').style.display = "block"; } else {document.getElementById('titleDiv1').style.display = "none";};
                if (Div2top < mypos) {document.getElementById('titleDiv2').style.display = "block"; } else {document.getElementById('titleDiv2').style.display = "none";};
                if (Div3top < mypos) {document.getElementById('titleDiv3').style.display = "block"; } else {document.getElementById('titleDiv3').style.display = "none";};
                if (Div4top < mypos) {document.getElementById('titleDiv4').style.display = "block"; } else {document.getElementById('titleDiv4').style.display = "none";};
                if (Div5top)  {
                  if (Div5top < mypos) {document.getElementById('titleDiv5').style.display = "block"; } else {document.getElementById('titleDiv5').style.display = "none";};
                }   
                if (Div6top)  {
                  if (Div6top < mypos) {document.getElementById('titleDiv6').style.display = "block"; } else {document.getElementById('titleDiv6').style.display = "none";};
                }
                
              } else {
                document.getElementById("header").style.top = "51px";
                //document.getElementById("header").style.fontSize = "25px";
                document.getElementById("header").style.width = "100%";
                document.getElementById("header").style.color = "black";
               
                document.getElementById('titleDiv1').style.display = "none";
                document.getElementById('titleDiv2').style.display = "none";
                document.getElementById('titleDiv3').style.display = "none";
                document.getElementById('titleDiv4').style.display = "none";
                document.getElementById('titleDiv5').style.display = "none";
                document.getElementById('titleDiv6').style.display = "none";
            

                
                
                
              }
            }
            {% comment %} ---------------------------------------------------topnave onscroll function------------------------------------------------------- {% endcomment %}
            var prevScrollpos = window.pageYOffset;
             function topnavdisappear() {
            var currentScrollPos = window.pageYOffset;
              if (prevScrollpos > currentScrollPos) {
                document.getElementById("myTopnav").style.top = "0";
              } else {
                document.getElementById("myTopnav").style.top = "-60px";
              }
              prevScrollpos = currentScrollPos;
            } 
          </script>
         <script>
            function gotodiv(e) {
              var myElement = document.getElementById(e);
              var stiky = document.getElementById('header');
              var stikyBottom = stiky.offsetTop + stiky.offsetHeight;
              var TopPos = myElement.offsetTop - stikyBottom;
              window.scrollTo(0, TopPos); 
              
            } 
          </script>
          
          

           {% comment %} <script>
                function gotodiv(e) {
                    var element = document.getElementById(e);
                    element.scrollIntoView ({behavior: "smooth"});
              }
          </script>  {% endcomment %}

          {% comment %} <script>
            function  gotodiv(e) {
              document.getElementById(e).scrollTop += 10;
            }
          </script> {% endcomment %}
          
          <script>
            // Get a reference to the delete buttons
            const deleteButtons = document.querySelectorAll('.delete-btn');
            // Attach an event listener to each delete button
            deleteButtons.forEach(button => {
              button.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default behavior of the button click
                // Get the product ID associated with the delete button
                const productId = button.dataset.productId;
          
                // Make an asynchronous request to delete the product from the server
                fetch(`/delete_cart/${productId}`, {
                  method: 'DELETE',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
                  },
                })
                  .then(response => response.json())
                  .then(data => {
                    // Handle the response data
                    // For example, display a success message or update the cart UI
                    if (data.success) {
                    
                            
                    // Product deleted successfully
                    console.log('approved3')
                      // Remove the product element from the cart UI
                      const inCart =  document.getElementById('in-cart')
                      const productIdNum = parseInt(productId)
                      const productElement = button.closest(`.id${productIdNum}`);
                      const quantityElement = productElement.querySelector('.qty');
                      const currentQuantity = quantityElement.textContent;

                      if (currentQuantity > 1) {
                        // Decrease the quantity by one
                        quantityElement.textContent -= 1;
                        inCart.textContent -= 1
                        quantityElement.style.fontSize = 'small';
                        quantityElement.style.textAlign = 'center';
                        quantityElement.style.marginLeft = '0.1px';
                        quantityElement.style.marginRight = '-0.2px';
                      } else {
                        // Remove the product element from the cart UI
                        
                        
                        const crmMonthly = document.getElementById('crmMonth')
                        const crmMonthlyBtn = document.getElementById('crmMonth-btn')
                        const crmAnually = document.getElementById('crmAnnual')
                        const crmAnuallyBtn = document.getElementById('crmAnnual-btn')

                        const posMonthly = document.getElementById('posMonth')
                        const posMonthlyBtn = document.getElementById('posMonth-btn')
                        const posAnually = document.getElementById('posAnnual')
                        const posAnuallyBtn = document.getElementById('posAnnual-btn')

                        const imMonthly = document.getElementById('imMonth')
                        const imMonthlyBtn = document.getElementById('imMonth-btn')
                        const imAnually = document.getElementById('imAnnual')
                        const imAnuallyBtn = document.getElementById('imAnnual-btn')

                        const aMonthly = document.getElementById('aMonth')
                        const aMonthlyBtn = document.getElementById('aMonth-btn')
                        const aAnually = document.getElementById('aAnnual')
                        const aAnuallyBtn = document.getElementById('aAnnual-btn')




                          if (productId === '8') {
                            productElement.remove();
                            crmMonthly.textContent = '$ 50'
                            crmAnually.textContent = '$ 150'
                            crmMonthlyBtn.disabled = false
                            crmAnuallyBtn.disabled = false
                            inCart.textContent -= 1
                            quantityElement.textContent = currentQuantity - 1; 
                          }
                            
                            else if(productId === '4') {
                              productElement.remove();
                              crmAnually.textContent = '$ 150'
                              crmMonthly.textContent = '$ 50'
                              crmAnuallyBtn.disabled = false
                              crmMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }
                            else if(productId === '2') {
                              productElement.remove();
                              posAnually.textContent = '$ 150'
                              posMonthly.textContent = '$ 50'
                              posAnuallyBtn.disabled = false
                              posMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }
                            else if(productId === '6') {
                              productElement.remove();
                              posAnually.textContent = '$ 150'
                              posMonthly.textContent = '$ 50'
                              posAnuallyBtn.disabled = false
                              posMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }

                            else if(productId === '3') {
                              productElement.remove();
                              imAnually.textContent = '$ 150'
                              imMonthly.textContent = '$ 50'
                              imAnuallyBtn.disabled = false
                              imMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }

                            else if(productId === '7') {
                              productElement.remove();
                              imAnually.textContent = '$ 150'
                              imMonthly.textContent = '$ 50'
                              imAnuallyBtn.disabled = false
                              imMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }

                            else if(productId === '5') {
                              productElement.remove();
                              aAnually.textContent = '$ 150'
                              aMonthly.textContent = '$ 50'
                              aAnuallyBtn.disabled = false
                              aMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }

                            else if(productId === '9') {
                              productElement.remove();
                              aAnually.textContent = '$ 150'
                              aMonthly.textContent = '$ 50'
                              aAnuallyBtn.disabled = false
                              aMonthlyBtn.disabled = false
                              inCart.textContent -= 1 
                              quantityElement.textContent = currentQuantity - 1;
                            }
                            
                            
                            
                            
                            
                            
                            
                            
                            else{
                              productElement.remove();
                              inCart.textContent -= 1
                              quantityElement.textContent = currentQuantity - 1;
                            }
                        
                        
                        
                      }
            
                      // Update the cart summary
                      const totalPriceElement = document.getElementById('subtotal');
                      const grandTotalElement = document.getElementById('grandtotal');
            
                      totalPriceElement.textContent = data.subTotal.toFixed(2);
                      grandTotalElement.textContent = data.grandTotal.toFixed(2);

                      const cartInfoElement = document.getElementById('cartinfo');
                      const cartItems = cartInfoElement.getElementsByClassName('items');
                      if (cartItems.length === 0) {
                        cartInfoElement.innerHTML = `<div class="orgrow" style="display:block;font-size:small; color: black;">
                          <div class="col-24" style="width: 45%;background-color:lightgray">
                              <a style="alignment: left; font-size: small;color: black;">Products</a>
                          </div>
                          <div class="col-24" style=" width: 10%;background-color:lightgray">
                              <a style="font-size: small;color: black;"><center>Qty</center></a>
                          </div>
                          <div class="col-24" style=" width: 35%;background-color:lightgray">
                              <a style="font-size: small ;color: black;"> <center>Unit Price</center></a>
                          </div>
                        </div><div id="empty-el" class="orgrow"><center><h1>Empty</h1></center></div>`;
                      }
    //----------------------------------------------------------------------------------------------------------------------------
                      const storedPromoCode = localStorage.getItem('promoCode');
                      const addPromoButton = document.querySelector('.add-promo');
                      // Check if there is a promo code in local storage
                      if (storedPromoCode) {
                        // Set the value of the promo code input field
                        document.getElementById('promo-code').value = storedPromoCode;
                          
                        // Programmatically trigger the click event of the add button
                        addPromoButton.click();
                        }
//--------------------------------------------------------------------------------------------------------------------                     

                    }
                  })
                  .catch(error => {
                    // Handle any errors that occurred during the request
                    console.error(error);
                  });
              });
            });
          </script>
          <script>
            // Get a reference to the delete button
            const addPromoButton = document.querySelector('.add-promo');

            // Attach an event listener to the delete button
            addPromoButton.addEventListener('click', (event) => {
              event.preventDefault(); // Prevent the default behavior of the button click
          
              // Get the product ID associated with the delete button
              const totalPrice = document.getElementById('subtotal').textContent;
              // Get the confirmation code from the input field
              const promoCode = document.getElementById('promo-code').value;          
              // Construct the URL with the confirmation code as a query parameter
              const url = `/promo_code/${encodeURIComponent(promoCode)}/${Math.floor(totalPrice)}`;
              
              // Make an asynchronous request to delete the product from the server
              fetch(url, {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
                },
              })
                .then(response => response.json())
                .then(data => {
                  // Handle the response data
                  // For example, display a success message or update the cart UI
                  if (data.success) {
                    // Handle the success response
                    const grandTotalEl = document.getElementById('grandtotal');
                    grandTotalEl.textContent = data.grandtotal
                    // Store the promo code in local storage
                    localStorage.setItem('promoCode', promoCode);
                    const removePromoButton = document.querySelector('.remove-promo');

                    addPromoButton.style.display = 'none';
                    removePromoButton.style.display = 'block';
                    document.getElementById('promo-success').textContent = '✔'
                    document.getElementById('promo-error').textContent = ''
                    
                  } else if (data.error) {
                    const errorEl = document.getElementById('promo-error')
                    
                    errorEl.textContent = '• Invalid Promo Code!'
                    setTimeout(function() {
                      errorEl.textContent = ''                  
                    }, 2500);
                    
                    
                  } else if(data.expired){   
                    if (storedPromoCode) {
                      document.getElementById('promo-error').textContent = '• Code Expired!'
                    } else {
                      document.getElementById('promo-error').textContent = '• Invalid Promo Code!'
                    }

                  }
                })
                .catch(error => {
                  // Handle any errors that occurred during the request
                  console.error(error);
                });
            });
            const storedPromoCode = localStorage.getItem('promoCode');
            const removePromoButton = document.querySelector('.remove-promo');
            
            // Check if there is a promo code in local storage
            if (storedPromoCode) {
              // Set the value of the promo code input field
              document.getElementById('promo-code').value = storedPromoCode;
              addPromoButton.style.display = 'none';
              removePromoButton.style.display = 'block';
              document.getElementById('promo-error').textContent = ''
              // Programmatically trigger the click event of the add button
              addPromoButton.click();
            }else{
              addPromoButton.style.display = 'block';
              removePromoButton.style.display = 'none';
            }
          </script>
          <script>

            const grandTotalEl = document.getElementById('grandtotal');

            function removePromo(){
              localStorage.removeItem('promoCode')
              document.getElementById('promo-code').value = ''
              document.getElementById('promo-success').textContent = ''
              document.getElementById('promo-error').textContent = ''
              grandTotalEl.textContent = document.getElementById('subtotal').textContent;
              document.querySelector('.add-promo').style.display = 'block';
              document.querySelector('.remove-promo').style.display = 'none';

            }
          </script>
          <script>
            {% for message in messages %}
              alertify.set('notifier', 'position', 'top-center');
              {% if message.tags == 'success' %}
                alertify.success('{{ message }}');
              {% elif message.tags == 'error' %}
                alertify.error('{{ message }}');
              {% else %}
                alertify.message('{{ message }}');
              {% endif %}
            {% endfor %}
          </script>
          <script>
            $(document).ready(function() {
              var inCartElement = document.getElementById('in-cart');
              var checkoutElement = document.getElementById('checkout');
            
              // Function to update the visibility of the checkout input
              function updateCheckoutVisibility() {
                if (inCartElement.textContent !== '0') {
                  checkoutElement.style.display = 'block';
                } else {
                  checkoutElement.style.display = 'none';
                }
              }
            
              // Initial update on page load
              updateCheckoutVisibility();
            
              // Event listener for changes to the in-cart element
              inCartElement.addEventListener('DOMSubtreeModified', updateCheckoutVisibility);
            });
          </script>
          <script>
            function searchFunction() {
              
              var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("searchtext");
                filter = input.value.toUpperCase();
                ul = document.getElementById("searchUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
            </script>   
            <script>
              function viewsearchlist(){
                document.getElementById("searchlist").style.display = 'block';
                }

                  
            </script>
            <Script>
              window.onload = function(){
                var divToHide = document.getElementById('searchlist');
                document.onclick = function(e){
                  if(e.target.id !== 'divToHide'){
                    //element clicked wasn't the div; hide the div
                    divToHide.style.display = 'none';
                  }
                };
              };
            </script>


<script>
  // Attach event listener to the <a> element
  document.getElementById('myLink').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default link behavior

    // Go to a specific page
    window.location.href = 'https://example.com/page';
  });

  // Wait for the page to load
  window.addEventListener('load', function() {
    // Find the specific element on the page
    var targetElement = document.getElementById('elementId');

    if (targetElement) {
      // Change the height of the element
      targetElement.style.height = '200px';
    }
  });
</script>
          
          
        
          

    
    
    
    </body>
</html>

              