{% load static %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>{{page_name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="{% static 'css/GalaxyLanding.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/avatar.css' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'images/galaxy_home_logo.png' %}">
        <script src="{% static 'js/GalaxyLanding.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/dropdown_menu.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <style>
            .right-align {
                float: right;
                top: 0px;
                right:  -10px;  
            }
            .dropbtn {
                display: flex;
                align-items: center;
            }
              
           
              
            .button-text {
                margin-right: 0px; /* Add spacing between the button text and avatar */
              }
              
            .fa-caret-down {
                margin-left: 20px; /* Add spacing between the avatar and caret icon */
              }
        </style>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            
            <a href="{% url 'galaxy:index' %}"  class="active">Home</a>
            <a href="{% url 'galaxy:pricing' %}" >Pricing</a>
            <a href="{% url 'galaxy:contact_us' %}" >Contact</a>
            <a href="{% url 'galaxy:about_us' %}" >About</a>
            {% if request.user.is_authenticated and subed %}
                <a href="{% url 'App:apphome' %}?orgname={{user.OrganizationID}}">{{org|capfirst}}</a>
            {% endif %}
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            {% if request.user.is_authenticated %}

                    <div class="dropdown">
                        <button class="dropbtn">
                            <span class="button-text">{{ request.user.username|capfirst }}</span>
                            <div class="avatar avatar--medium active right-align">
                              <img src="{{ request.user.avatar.url }}" />
                            </div>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Organizations</a>
                            <a href="{% url 'galaxy:profile' %}">Profile</a>
                            <a href="#">Accounting</a>
                            <a href="#">Subscription</a>
                            <a style = "color: red;" href="{% url 'galaxy:logout' %}"><strong>Logout</strong></a>
                        </div>
                    </div>
                    
            {% else %}
                <a style="float: right" class="active" href = "{% url 'galaxy:login' %}">Login</a>
            {% endif %}
            
        </div>
        <div  id="contact" style="COLOR:green; FONT-SIZE:15PX;font: arial">
            <h2 >Contact Us</h2>
            <hr >

            <div >
                <p><i ></i> Chicago, US</p>
                <p><i></i> Phone: +00 151515</p>
                <p><i> </i> Email: mail@mail.com</p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/action_page.php" target="_blank">
                <p><input  class="contactInput" type="text" placeholder="Name..." required name="Name"></p>
                <p><input  class="contactInput" type="text" placeholder="Email..." required name="Email"></p>
                <p><input  class="contactInput" type="text" placeholder="Subject..." required name="Subject"></p>
                <p><input  class="contactInput" type="text" placeholder="Message..." required name="Message"></p>
                <p>
                    <button  type="submit">
                        <i ></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>
    </body>
</html>
