{% extends 'galaxy/base.html' %}
    {% load static %}
    {% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/products_managment.css' %}"/>
    <script src="{% static 'js/products_managment.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock header %}

{% block body %}

<div style="text-align: center;  vertical-align: middle;" class="orgrow">
      <div >
          <strong><span style="color:blue;" class="pagetitle" ><Strong>User Management</strong></span></strong>

      </div>
    </div>
    <p></p>
    <strong><span class="title" style="color:green;cursor:pointer" onclick="openNav('userNav')">&#9776; <Strong>Select User</strong></span></strong>
    <p></p>
      
<div  id="userNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('userNav')">&times;</a>

  <div class="overlay-content">
    {% for user in users %}
        <a href="{% url 'galaxy:manage_user' %}?id={{user.id}}"> {% if user.username %}{{user.username}}{% else %}Undefined User{% endif %}</a>
    {% endfor %}
    <a href="{% url 'galaxy:pricing' %}" style="font-size:xx-large;color:blue;" class="fa fa-cart-plus" ></a>  
  </div>
</div>

<div id="orgSubscription" class="container">
  
  <div class="orgrow" style="text-align: left;font-size:medium;font-weight:bold;">
    <a id="username" name="username" style=" color:blue;font-size: large;font-weight: bold; ">{% if the_user.username %}│{{the_user.username|capfirst}}│{% endif %}{% if the_user and not the_user.username %}Undefined User {% endif %}{% if not the_user %}Choose User{% endif %}</a>
  </div>
  <div id="manage" class="orgrow" style="text-align: center;font-size:medium;font-weight:bold;">
                <div class="col-15" style="border-bottom: solid;border-color: blue">
                  <label for="Status">Subscription Status</label>
                  <a id="Status" name="Status" style=" color:blue; ">{% if sub_status %}Active{% elif sub_status == 'False' %}Inactive<span style="color: black; padding-left: 10px;">│</span>{% endif %}</a>
                </div>
                
                <div  class="col-15" style="border-bottom: solid;border-color: blue">
                  <label for="StartD">│ Start Date</label>
                  <a id="StartD" name="StartD" style=" color:blue;">{% if sub_start %}{{sub_start}}{% endif %}</a>
                </div>
                
                <div class="col-15" style="border-bottom: solid;border-color: blue">
                  <label for="EndD">│ End Date</label>
                  <a id="EndD" name="EndD" style=" color:blue; ">{% if sub_end %}{{sub_end}}<span style="color: black; padding-left: 10px;">│</span>{% endif %}</a>
                </div>
                
                <div  class="col-10" style="border-bottom: solid;border-color: blue;">
                    <label for="AutoRenew">Auto Renew</label>
                    <div  class="col-5" style="padding-left: 8px;">
                      <form method="POST" id="myForm">
                        <div class="col-5">
                          {% if the_user %}
                            <input type="checkbox" id="autoRenewField" name="Auto-Renew" {% if form2.AutoRenew.value %} checked {% endif %} >{% comment %}  {% endcomment %}
                          {% endif %}
                        </div>
                      </form>
                    </div>
                </div>
  
                <div class="col-25" >
                    <form method="POST">
                      <button name="delete-btn" type="submit" style="width: 60%; float: right;" class="fa fa-remove btn"> Delete User</button>
                    </form>
                </div>

                <div class="col-20" >
                    <button id="orginfo" style="width: 60%; float: right;" class="fa fa-arrow-circle-o-down btn" onclick="info()"> User Info</button> 
                </div>
                
  </div>
     
  <form method = 'POST' id="user-form" enctype="multipart/form-data">
  {% csrf_token %}
      
  <div id="info" class="subcontainer" >
      <a id="Div1" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('basicinfo') ,arrowdirection(id)"> Basic Info </a>
      <div id="basicinfo" class="smallcontainer">
      <div class="orgrow">  
            <div class="orgrow">
              <div class="col-10">
                <label for="activeuser" >Active :</label>
                {{form.is_active}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-10">
                <label for="Usertype">User Type :</label>
              </div>
              <div class="col-10">
                {{form.user_Type}}
              </div>
            </div>
          <p> </p>
           <div class="col-15">
               <img src="{{the_user.avatar.url}}" class="useravatar" width="140" height="180">
               <p> </p>
               <div class="orgrow">
                   <div  class="col-100">
                      {{form.avatar}}
                    </div>
               </div>
           </div>
          <div class="col-40" style="">

            <div class="orgrow">
              <div class="col-25">
                <label for="username" >User Name :</label>
              </div>
              <div class="col-75">
                {{form.username}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="AddressFiled">First Name :</label>
              </div>
              <div class="col-75">
                {{form.first_name}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="country">Last Name :</label>
              </div>
              <div class="col-75">
                  {{form.last_name}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="userEmail">User E-mail :</label>
              </div>
              <div class="col-75">
                {{form.email}}
              </div>
            </div>
          </div>
          <div class="col-40" style="padding-left:25px;">
              
            <div class="orgrow">
              <div class="col-25">
                <label for="language">Language :</label>
              </div>
              <div class="col-75">
                {{form.Language}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="gender">Gender :</label>
              </div>
              <div class="col-75">
                {{form.Gender}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="birthdate">Birth Date :</label>
              </div>
              <div class="col-75">
                {{form.Birth_Date}}
              </div>
            </div>
            <div class="orgrow">
              <div class="col-25">
                <label for="telephone">Telephone :</label>
              </div>
              <div class="col-75">
                {{form.Telephone}}
              </div>
            </div>
          </div>
      </div>
         </div>
      <p></p>
      
      <a id="Div2" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('rolls') ,arrowdirection(id)"> Rules </a>
      <div id="rolls" class="smallcontainer">
      </div>
      <p></p>
      
      <a id="Div3" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('password') ,arrowdirection(id)"> Password </a>
      <div id="password" class="smallcontainer">
          <div class="password-container">
            <div class="orgrow">
              <div class="col-15">
                <label for="psw"><b>Password :</b></label>
              </div>
              <div class="col-75">
                {{form.password}}
                <i class="fa-solid fa-eye" id="eye1"></i>
                    <div id="pswMessage">
                        <h3 style="font-size:10px">Password must contain the following: </h3>
                        <p id="lab1" style="background-color:inherit">✖ capital letters,</p> 
                        <p id="lab2" >✖ small letters,</p> 
                        <p id="lab3" >✖ special character,</p>
                        <p id="lab4" >✖ number,</p>
                        <p id="lab5" >✖ not less than 8 character.</p>
                    </div>
              </div>
            </div>

            </div>
            <div class="password-container">
            <div class="orgrow">
              <div class="col-15">
                <label for="psw-repeat"><b>Repeat Password :</b></label>
              </div>
              <div class="col-75">
                <input type="password" name="psw-repeat" onfocus="showPswMatchMsg()" onblur="hidePswMatchMsg()" onkeyup="ChangePswMsgStatus(psw.value)" id="psw-repeat">
                      <!--  <i class="fa-solid fa-eye" id="eye2"></i> -->
                    <div id="pswMatchMsg">
                        <p id="lab6" >✖ Password Matches</p>
                    </div>
              </div>
            </div>

            </div>


                    <p></p>


                    


      </div>
      <p></p>
      
      <a id="Div4" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('modulesaccess') ,arrowdirection(id)"> Modules Access </a>
      <div id="modulesaccess" class="smallcontainer">
      </div>
      <p></p>
      
      <a id="Div5" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('security') ,arrowdirection(id)"> Security </a>
      <div id="security" class="smallcontainer">
      </div>
      
      
      

      <p></p>
      
        
    <div class="orgrow">
        <button style="float: right" class="btn" id="cancel-btn" type="button">Cancel</button><a>&nbsp;</a><button style="float: right;margin-right: 10px;" class="btn" name="user-save-btn" type="submit" value="Save">save</button>
    </div>
      
 
  </div>

 </form>
   
</div>
   
{% endblock body %}
{% block additional %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var cancelButton = document.getElementById('cancel-btn');

    cancelButton.addEventListener('click', function() {
      location.reload();
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#autoRenewField').on('change', function() {
      // Submit the form
      $('#myForm').submit();
    });
  });
</script>
<script>
  document. addEventListener('mouseup', function(e) {
    var container = document. getElementById('myNav');
    if (! container. contains(e. target)) {
    container. style.width = "0%";
    }
    });
</script>

{% endblock additional %}
