{% extends 'galaxy/base.html' %}
    {% load static %}
    {% block header %}
    <title>Organization Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/products_managment.css' %}"/>
    <script src="{% static 'js/products_managment.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      
      button:hover {
        opacity:1;
      }
      .sticky {
        font-size: 25px; 
        font-weight: bold;
        position: fixed;
        top: 51px;
        padding: 10px;
        width: 100%;
        text-align:center;
        background-color : lightgray;
        color: black;
        transition: all 0.8s;
        z-index:3 ;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
    </style> 
    {% endblock header %}
    

    {% block body %}
    <div id ="header" class="sticky">
      <div class="orgrow">
        <strong><span class="title" style="float:left;color:green;cursor:pointer" onclick="openleftNav('orgNav')">&#9776; <Strong>Select Organization</strong></span></strong>
        </div>
        <div class="orgrow">
        <div class="col-30"><a id="title" name="Orgname" style=" color:darkgreen;font-size: large;font-weight: bold;text-align: left ">{% if org.OrganizationName %}│{{org.OrganizationName|capfirst}}│{% endif %}{% if org and not org.OrganizationName %}New organization {% endif %}{% if not org %}{% endif %}</a></div>
        </div>
        <div class="orgrow">
        <div class="col-15"><a id="titleDiv1" onclick="gotodiv('Div1')" style="color:darkgreen;display:none;text-align: center;cursor:pointer;">•  Name & Address </a></div>
        <div class="col-15"><a id="titleDiv2" onclick="gotodiv('Div2')" style="color:darkgreen;display:none;text-align: center;cursor:pointer;">•  Uploads </a></div>
        <div class="col-15"><a id="titleDiv3" onclick="gotodiv('Div3')" style="color:darkgreen;display:none;text-align: center;cursor:pointer;">•  Options </a></div>
        <div class="col-15"><a id="titleDiv4" onclick="gotodiv('Div4')" style="color:darkgreen;display:none;text-align: center;cursor:pointer;">•  Links </a></div>
        
      </div>
      
    </div>
      
<div  id="orgNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeleftNav('orgNav')">&times;</a>

  <div class="overlay-content">
    {% for organisation in organisations %} 
      <a href="{% url 'manage_org' %}?id={{organisation.id}}"> {% if organisation.OrganizationName %}{{organisation.OrganizationName}}{% else %}Undefined Org{% endif %}</a>
    {% endfor %} 
    <a href="{% url 'pricing' %}" style="font-size:xx-large;color:blue;" class="fa fa-cart-plus" ></a> 
  </div>
</div>

<div id="orgSubscription" class="container" style="padding-top:100px;position:relative; z-index: 2;">


  <div id="manage" class="orgrow" style="text-align: center;font-size:medium;font-weight:bold;">
                <div class="col-25" style="border-bottom: solid;border-color: blue">
                  <label for="Status">Subscription Status</label>
                  <a id="Status" name="Status" style=" color:blue; ">{% if choosed_org %}{% if sub_status %}Active{% else %}Inactive{% endif %}{% else %}{% endif %}</a>
                </div>
                
                <div  class="col-25" style="border-bottom: solid;border-color: blue">
                  <label for="StartD">Start Date</label>
                  <a id="StartD" name="StartD" style=" color:blue;">{% if sub_start %}{{sub_start}}{% endif %}</a>
                </div>
                
                <div class="col-25" style="border-bottom: solid;border-color: blue">
                  <label for="EndD">End Date</label>
                  <a id="EndD" name="EndD" style=" color:blue; ">{% if sub_end %}{{sub_end}}<span style="color: black; padding-left: 10px;"></span>{% endif %}</a>
                </div>
                
                <div  class="col-25" style="border-bottom: solid;border-color: blue">
                  
                      <label for="AutoRenew" >Auto Renew</label>
                      {% if org %}  
                        <input type="checkbox" id="autoRenewField" name="Auto-Renew" style=" color:blue " {% if form2.AutoRenew.value %} checked {% endif %}>
                      {% endif %}
                  
                </div>
                
                {% comment %} <div  class="col-10" style="border-bottom: solid;border-color: blue;">
                    <label style="color: black" for="AutoRenew">Auto Renew</label>
                    <div  class="col-5" style="padding-left: 8px;">
                      <form method="POST" id="myForm">
                        {% csrf_token %}
                        <div class="col-5">
                          {% if org %}
                            <input type="checkbox" id="autoRenewField" name="Auto-Renew" {% if form2.AutoRenew.value %} checked {% endif %} >
                          {% endif %}
                        </div>
                      </form>
                    </div>
                </div> {% endcomment %}


                <div id="manage1" class="orgrow" style="text-align: center;font-size:medium;font-weight:bold;">
                  <div class="col-45" style="text-align: center;">
                    {% if org %}<button id="orginfo" style="width: 50%; float: right;" class="fa fa-arrow-circle-o-down btn" onclick="info()"> Organization Info</button> {% endif %}
                </div>
                <div class="col-45" style="text-align: center;">
                   {% if org.OrganizationEmail %}<button type="button" style="width: 50%; float: right;" onclick="document.getElementById('orgdeleteconfirm').style.display='block'" class="fa fa-remove btn"> Delete Organization</button>{% endif %}
                </div>
              </div>
                
                
  </div> 
  
  <div id="orgdeleteconfirm" class="deletemodal">
    <span onclick="document.getElementById('orgdeleteconfirm').style.display='none';document.getElementById('deleteconfirmation').style.display='none'" class="deletemodel_close" title="Close Modal">x</span>
    <form class="deletemodal-content">
      <div class="container"  style="padding: 5px;text-align: center;">
        <h1 style="color: black;">Organiation Data Delete Confirmation</h1>
        <p style="color: black;">Are you sure you want to delete Organization Data?</p>
        <p></p>
        <strong><h2 style="color: black;">Warning:</h2></strong>
        <Label style="color: black;"> Organization data will be permanently erased and you will not be able to access it again</label>
        <br>
        <div class="clearfix">
          <button id="org-delete-btn" name="org-delete-btn" type="button" onclick="document.getElementById('deleteconfirmation').style.display='block';document.getElementById('org-delete-btn').style.display='none'" class="modeldelete_deletebtn" style="margin : 0 auto">Delete</button>
          <br>
          <button id="remove-button" type="button" onclick="document.getElementById('orgdeleteconfirm').style.display='none';document.getElementById('deleteconfirmation').style.display='none';document.getElementById('org-delete-btn').style.display='block'" class="modeldelete_cancelbtn">Cancel</button>
          
          
          
          <div id="deleteconfirmation" style="display:none">
              <h4 style="color: black;">a confirmation code has been sent to your email</h4>
                  {% if error_message %}
                  <p style="color: red;">{{ error_message }}</p>
                  {% endif %}
  
                    <label style="color: black;" for="code">Confirmation Code:</label>
                    <input style="margin-bottom: 10px" type="text" id="code" name="code" required>
                    <a id="code-error" style="color: red"></a><br>
                    <button class="modeldelete_deletebtn orgdel" data-org-id = "{{org.id}}" type="submit">Confirm Delete</button>
                  
                  
  
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="salestax" class="salestax">
    <span onclick="document.getElementById('salestax').style.display='none';" class="salestax_close" title="Close salestax">x</span>
    <form class="salestax-content">
      <div class="container"  style="padding: 5px;text-align: center;">
        
      </div>
    </form>
  </div>

  <form method = 'POST' action="" id="org-form" enctype="multipart/form-data">
    {% csrf_token %}
      
    <div id="info" class="subcontainer" >
      <a id="Div1" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('Adress') ,arrowdirection(id)"> Name & Address </a>
      <div id="Adress" class="smallcontainer">
        <div class="orgrow">
          <div class="col-25">
            <label for="orgname" ><span style="color:red;font-size:medium">*</span> Organization Name :</label>
          </div> 
          <div class="col-75">
            {{form.OrganizationName}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-25">
            <label for="Address">Address :</label>
          </div>
          <div class="col-75">
            {{form.Address}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-25">
            <label for="country">Country :</label>
          </div>
          <div class="col-75">
            {{form.Country}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-25">
            <label for="OrgEmail"><span style="color:red;font-size:medium">*</span> Organization E-mail :</label>
          </div>
          <div class="col-75">
            {{form.OrganizationEmail}}
          </div>
        </div>
      </div>
      <p></p>
      <a id="Div2" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('uploads'), arrowdirection(id)"> Uploads </a>
      <div id="uploads" class="smallcontainer">
              
        <div class="row">
                    <div class="col-35">
                      <label for="comreg" >Upload Commercial registration :</label>
                    </div>
                    
                    <div  class="col-45">
                      
                      {{form.Com_Regm}}
                    </div>

        </div>
        <div class="row">
                    <div class="col-35">
                      <label for="taxreg" >Upload the Tax registration :</label>
                    </div>
                    <div  class="col-45">
                      
                      {{form.Tax_Reg}}
                    </div>

        </div>
        <div class="row">
                    <div class="col-35">
                      <label for="logo" >Upload the Logo :</label>
                    </div>
                    <div  class="col-45">
                      
                      {{form.Logo}}
                    </div>

        </div>
        <div class="row">
          <div class="col-35">
            <label for="repheader" >Upload Reports & Letters Header :</label>
          </div>
          <div  class="col-45">
            
            {{form.Report_H}}
          </div>
        </div>
        <div class="row">
          <div class="col-35">
            <label for="repbuttom" >Upload Reports & Letters Bottom :</label>
          </div>
          <div  class="col-45">
            
            {{form.Report_B}}
          </div>

        </div>
  
      </div>
      <p></p>
      <a id="Div3" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('options'), arrowdirection(id)"> Options </a>
      <div id="options" class="smallcontainer">
      <div class="row">
        <div class="col-35">
          <label for="Currency"><span style="color:red;font-size:medium">*</span> Currency :</label>
        </div>
        <div class="col-25">
          {{form.Currency}}
        </div>
      </div>
      <div class="orgrow">
        <div class="col-35">
          <label for="tax"><span style="color:red;font-size:medium">*</span> Tax :</label>
        </div>
        <div class="col-25">
          {{form.Tax}}
        </div>
        <div class="col-35">
          <button style="margin-right: 10px;" onclick="document.getElementById('salestax').style.display='block';" class="btn1" type="button">New</button><button onclick="" class="btn1" type="button">Edit</button>
        </div>

      </div>
      <div class="row">
        <div class="col-35">
          <label for="costcaculate"><span style="color:red;font-size:medium">*</span> Calculate item cost as :</label>
        </div>
        <div class="col-25">
          {{form.Cost_Method}}
        </div>
      </div>
      <div class="row">
        <div class="col-35">
          <label for="autoreceive">Automaticlly create inter-store receive inventory orders :</label>
        </div>
        <div class="col-5">
          <p></p>
          {{form.Create_Receive}}
        </div>
      </div>
      <div class="row">
        <div class="col-35">
          <label for="autoissue">Automaticlly create inter-store issue inventory orders :</label>
        </div>
        <div class="col-5">
          <p></p>
          {{form.Create_Issue}}
        </div>
      </div>
      <div class="row">
        <div class="col-35">
          <label for="Terms">Default Terms and Conditions :</label>
        </div>
        <div class="col-65">
          <p></p>
          {{form.Terms}}
        </div>
      </div>
      </div> 
      <p></p>
      <a id="Div4" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('links') ,arrowdirection(id)"> Links </a>
      <div id="links" class="smallcontainer">
        <div class="orgrow">
          <div class="col-15">
            <label for="Website" class="fa fa-link"> Website :</label>
          </div>
          <div class="col-35">
            {{form.WebsiteLink}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-15">
            <label for="WhatsApp" class="fa fa-whatsapp"> WhatsApp :</label>
          </div>
          <div class="col-35">
            {{form.WhatsappLink}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-15">
              <label for="Facebook" class="fa fa-facebook-square"> Facebook :</label>
          </div>
          <div class="col-35">
            {{form.FacebookLink}}
          </div>
        </div>
        <div class="orgrow">
          <div class="col-15">
            <label for="Instagram" class="fa fa-instagram"> Instagram :</label>
          </div>
          <div class="col-35">
            {{form.InstagramLink}}
          </div>
        </div>
      </div>
      <p></p> 
      <div class="orgrow">
        <button class="btn" style="float: right" id="cancel-btn" type="button" onclick="location.reload()">Cancel</button>
     
        <button class="btn" style="float: right; margin-right: 10px;" name="save-btn" type="submit" value="Save">save</button>
      </div>
      <div class="orgrow"
        <a style="color:red;"> * is required filed </a>
      </div>
    </div> 
  </form>
</div>

     
   

   
   
   {% endblock body %}
   {% block additional %}
<script>
    document.getElementById('autoRenewField').addEventListener('change', function() {
      // Check if the checkbox is checked
      var autoRenewCheckbox = document.getElementById('autoRenewField');
      var isAutoRenewChecked = autoRenewCheckbox.checked;
      console.log('hello')
      // Construct the URL with the confirmation code as a query parameter
      var queryString = window.location.search;
      // Create a new instance of URLSearchParams with the query string
      var searchParams = new URLSearchParams(queryString);
      // Get the value of the "param" query parameter
      var paramValue = searchParams.get('id');
      
      // Do something based on the checkbox state
      if (isAutoRenewChecked) {
        console.log('hello2')
        
        const url = `/org_autorenow_on?id=${encodeURIComponent(paramValue)}`;
        // Make an asynchronous request to delete the product from the server
        fetch(url, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
          },
        })
          .then(response => response.json())
          .then(data => {
            // Handle the response data
            // For example, display a success message or update the cart UI
            if (data.success) {
              // Handle the success response
              alertify.set('notifier', 'position', 'top-center');
              alertify.success(data.message);
            }
          })
          .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
          });
        
      } else {
        console.log('hello3')
        
        const url = `/org_autorenow_off?id=${encodeURIComponent(paramValue)}`;
        // Make an asynchronous request to delete the product from the server
        fetch(url, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
          },
        })
          .then(response => response.json())
          .then(data => {
            // Handle the response data
            // For example, display a success message or update the cart UI
            if (data.success) {
              // Handle the success response
              alertify.set('notifier', 'position', 'top-center');
              alertify.error(data.message);
            }
          })
          .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
          });
       
      }
    });
</script>

<script>
  document. addEventListener('mouseup', function(e) {
    var container = document. getElementById('orgNav');
    if (! container. contains(e. target)) {
    container. style.width = "0%";
    
    }
    });
</script>

<script>
  // Wait for the DOM to load
  document.addEventListener('DOMContentLoaded', function() {
      // Select all the messages with the 'alert' class
      var messages = document.querySelectorAll('.alert');

      // Loop through each message and set a timeout to remove it after 3 seconds,
      // except for error messages
      messages.forEach(function(message) {
          if (!message.classList.contains('error')) {
              setTimeout(function() {
                  message.remove();
              }, 3000);
          }
      });
  });
</script>
<script>
  var message = document.getElementById('fade-msg');
  if (!message.classList.contains('error')) {
      setTimeout(function() {
        message.style.opacity = '0';
      }, 1250);
  }
</script>
<script>
  // Get the user delete modal
var modal = document.getElementById('orgdeleteconfirm');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target === modal) {
    modal.style.display = "none";
    document.getElementById('deleteconfirmation').style.display='none';
  };
};
</script>

<script>
  // Get references to the buttons
  const specificButton = document.getElementById('org-delete-btn');
  const removeButton = document.getElementById('remove-button');

  // Attach an event listener to the add button
  specificButton.addEventListener('click', () => {
    // Get the current URL
    const url = new URL(window.location.href);

    // Add the query parameter to the URL
    url.searchParams.append('del', 'true');

    // Modify the browser history with triggering a page reload
    window.location.href = url.href;
  });

  // Check if the 'del' query parameter exists in the URL
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('del')) {
    const delEl = document.getElementById('orgdeleteconfirm');
    const delEl2 = document.getElementById('deleteconfirmation');

    // Show the delEl element by modifying its style
    delEl.style.display = 'block';
    delEl2.style.display = 'block';
    document.getElementById('org-delete-btn').style.display='none'
  }

  // Attach an event listener to the remove button
  removeButton.addEventListener('click', () => {
    // Get the current URL
    const url = new URL(window.location.href);

    // Remove the query parameter from the URL
    url.searchParams.delete('del');

    // Modify the browser history without triggering a page reload
    window.history.pushState({}, '', url.href);
  });
</script>

<script>
  // Get a reference to the delete button
  const deleteButton = document.querySelector('.orgdel');
  console.log(deleteButton);

  // Attach an event listener to the delete button
  deleteButton.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent the default behavior of the button click

    // Get the product ID associated with the delete button
    const orgId = deleteButton.dataset.orgId;
    console.log(orgId);

    // Get the confirmation code from the input field
    const confirmationCode = document.getElementById('code').value;

    // Construct the URL with the confirmation code as a query parameter
    const url = `/my_products/organizations/delete_org/${orgId}?code=${encodeURIComponent(confirmationCode)}`;

    // Make an asynchronous request to delete the product from the server
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
      },
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response data
        // For example, display a success message or update the cart UI
        if (data.success) {
          // Handle the success response
          console.log('success');
          const url = new URL(window.location.href);

          // Remove the query parameter from the URL
          url.searchParams.delete('del');

          // Modify the browser history without triggering a page reload
          window.location.href = url.href;
          alertify.set('notifier', 'position', 'top-center');
          alertify.success(data.message);
        } else if (data.error) {
          console.log('error');
          const errorEl = document.getElementById('code-error')
          errorEl.textContent = '• Invalid Code!'
        }
      })
      .catch(error => {
        // Handle any errors that occurred during the request
        console.error(error);
      });
  });
</script>
   {% endblock additional %}

