{% extends "galaxy/base.html" %}
{% load static %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="{% static "css/products_managment.css" %}"/>
<script src="{% static "js/products_managment.js" %}"></script>
{% endblock header %}

{% block body %}
<a class="pagetitle"> My Products</a>
<p></p>
<div>
    <div class="subcontainer" style="display:block;" >
        <a id="Div1" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('basicinfo') ,arrowdirection(id)"> Modules </a>
        <p></p>
        <div id="basicinfo" class="smallcontainer">
            <div class="orgrow">  
              {% if sub_basic %} 
                {% for item in sub_basic %}
                  <div class="orgrow">
                      <div class="col-40">
                          <a id="modulename" style="color:blue;" class="fa fa-tag"> {{item.ProductID.Name}}  </a> 
                      </div>
                      <div class="col-10">
                          <a id="moduleqty" > Only 1 </a> 
                      </div>
                      <div class="col-45" style="">
                          <a class="btn1" style="float:right">Manage</a> 
                      </div>
                  </div>
                {% endfor %}
              {% else %}
                <h1><center>Empty</center></h1>
              {% endif %} 
            </div>
        </div>
    </div>
        <p></p>    
    <div class="subcontainer" style="display:block;" >
        <a id="Div2" class="fa fa-arrow-circle-down" style="font-weight: bold; padding-left:10px;font-size: large; cursor: pointer; color: green;" onclick="showdiv('addonsinfo') ,arrowdirection(id)"> Add-ons </a>
        <p></p>
        <div id="addonsinfo" class="smallcontainer">
          <div class="orgrow">  
            {% if sub_add %}  
              {% for item in sub_add %}
                <div class="orgrow">
                  <div class="col-40">
                      <a id="addonsname" style="color:blue;" class="fa fa-tag"> {{ item.ProductID__Name }} </a> <a href="{% url 'galaxy:pricing' %}" style="color:blue;;padding:5px" class="fa fa-cart-plus" ></a>
                  </div>
                  <div class="col-10" >
                      <a id="addonsqty" > Qty : {{ item.total_qty }} </a> 
                  </div>
                  <div class="col-45" style="">
                      <a {% if item.ProductID__Code == 201 %} href="{% url 'galaxy:manage_org' %}" {% elif item.ProductID__Code == 203 %} href="{% url 'galaxy:manage_user' %}" {% else %} href="#" {% endif %}class="btn1" style="float:right">Manage</a> 
                  </div>
                </div>
              {% endfor %}
            {% else %}
                <h1><center>Empty</center></h1>
            {% endif %}
          </div>
        </div>
    </div>
    
</div>
{% endblock body %}