{% extends 'galaxy/base.html' %}
{% load static %}
{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/my_products.css' %}"/>
{% endblock header %}
    
{% block body %}

    <a href="{% url 'index' %}" style="padding:30px;color: green;font-size:xxx-large;font-weight:bolder "  class="fa fa-arrow-left"> </a><a style="padding:30px;color: green;font-size:xxx-large;font-weight:bolder "> My Products</a>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-50">
            <a style="padding-bottom: 30px;padding-top :30px;font-size:xx-large;font-weight:bolder " class="fa fa-database">&nbsp; Basic Bundle  </a>
            {% for item in sub_basic %}    
                <div class="row2">
                    <div class="column" style="width:auto">
                        <a id="Pname" style= "font-size:large;font-weight:bolder " class="fa fa-tag"> {{item.ProductID.Name}} </a> 
                    </div>
                    <div class="column" style="width:auto ;float:right">
                        <a href="" id="Manage" style="color:green;font-size:medium;float:right">Manage</a>
                    </div>
                </div>
            {% endfor %}
</div>

            <div class="col-50">
                <a style="padding-bottom: 30px;padding-top:30px;font-size:xx-large;font-weight:bolder" class="fa fa-paperclip">&nbsp; Add-ons </a>
                {% for item in sub_add %}
                    <div class="row2">
                        <div class="column" style="width:48%">
                            <a id="Pname" style="font-size:large;font-weight:bolder" class="fa fa-tag"> {{ item.ProductID__Name }}</a>
                        </div>
                        <div class="column" style="width:auto">
                            <a id="Pname" style="font-size:medium;">Qty: {{ item.total_qty }}</a>
                        </div>
                        <div class="column" style="width:24%;float:right">
                            <a {% if item.ProductID__Code == 201 %} href="{% url 'manage_org' %}" {% else %} href="#" {% endif %} id="Manage" style="color:green;font-size:medium;float:right">Manage</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
          
        </div>


      </form>
    </div>
  </div>

</div>


{% endblock body %}