<div  id="changepasswordNav" class="cart1" style="width: 0%">
    <a href="javascript:void(0)" class="closebtn" onclick="closerightNav('changepasswordNav')" style="font-size: 40px;right: 15px;">&times;</a>
      <div class="title" style="padding-left:10px;padding-top: 10px">
          <div>Change Password</div>
          <p></p>
      </div>
      <div >
          <div class="container">
              <div id="passwordinfo" class="smallcontainer" style="display:block;">
                <div>
                    {% if messages %}
                      <div class="messages" id="message">
                            {% for message in messages %}
                              <p id="fade-msg" {% if message.tags %} class="messages {{ message.tags }} alert {% if message.level_tag == 'error' %} error{% endif %}"{% endif %}>{{ message }}</p><br>
                            {% endfor %}
                      </div>
                    {% endif %}
                  </div>
              <div class="orgrow">  
                  <div class="orgrow">
                      
                      <form method = 'POST' id="password-form" enctype="multipart/form-data">    
                        {% csrf_token %}
                        <div id="password" class="subcontainer" style = "display: block" >
                              <div class="orgrow">
                                  <div class="col-40">
                                      <label for="currentpsw" >Current Password :</label>
                                  </div>
                                  <div class="col-60">
                                      <input style="width: 95%;" type="password" placeholder="Current Password..." name="currentpsw" id="currentpsw" required>
                                  </div>
                              </div>
                                <div class="orgrow">
                                    <div class="col-40">
                                        <label for="newpassword" >New Password :</label>
                                    </div>
                                    <div class="col-60">
                                        <input style="width: 95%;" type="password" placeholder="New Password..." name="psw" onfocus="showPswMsg()" onblur="hidePswMsg()" onkeyup="ChangePswMsgStatus(psw.value)" id="psw" required>
                                            
                                            <div id="pswMessage">
                                               <h3 style="font-size:10px">Password must contain the following: </h3>
                                               <p id="lab1" style="background-color:inherit">✖ capital letters,</p> 
                                               <p id="lab2" >✖ small letters,</p> 
                                               <p id="lab3" >✖ special character,</p>
                                               <p id="lab4" >✖ number,</p>
                                               <p id="lab5" >✖ not less than 8 character.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="orgrow">
                                    <div class="col-40">
                                        <label for="newpassword" >Repeat Password :</label>
                                    </div>
                                    <div class="col-60">
                                        <input style="width: 95%;" type="password" placeholder="Repeat Password..." name="psw-repeat" onfocus="showPswMatchMsg()" onblur="hidePswMatchMsg()" onkeyup="ChangePswMsgStatus(psw.value)" id="psw-repeat" required>
                                          
                                            <div id="pswMatchMsg">
                                                <p id="lab6" >✖ Password Matches</p>
                                            </div>
                                    </div>
                                
                                    <div class="passerror">
                                    {% if pass_error %}
                                        {% for error in pass_error %}
                                            {{error}}<br>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                
                                </div> 
                                                                          
                       </div>
                       <div class="orgrow">
                            <button style="float: right" class="btn" id="password-cancel-btn" type="button" onclick="closerightNav('changepasswordNav')">Cancel</button><button style="float: right;margin-right: 10px;" class="btn" name="save-password" type="submit" value="Save">Save</button>
                       </div> 
                      </form>
                  </div>
              </div>
              </div>
          </div>
  </div>
</div>

<script>
    document. addEventListener('mouseup', function(e) {
      var container = document. getElementById('changepasswordNav');
      if (! container. contains(e. target)) {
      container. style.width = "0%";
      
      }
      });
</script>
<script>
    window.addEventListener("resize", resizeCurtainMenu);
    function resizeCurtainMenu() {
    var w = window.innerWidth;
    if (document.getElementById("changepasswordNav").style.width != "0%")
      {if( w >= 1025 )
        {document.getElementById("changepasswordNav").style.width = "50%";}
        else 
        {
            if(w > 800 && w < 1025)
              {document.getElementById("changepasswordNav").style.width = "70%";}
              else
              {document.getElementById("changepasswordNav").style.width = "90%";}
      }
    }
    }
</script>
<Script>
    function openpasswordNav() {
      var w = window.innerWidth;

      if( w >= 1025 ){ 
          document.getElementById("changepasswordNav").style.width = "35%";
          }
          else {
              if(w > 800 && w < 1025)
                {document.getElementById("changepasswordNav").style.width = "50%";}
                else
                {document.getElementById("changepasswordNav").style.width = "90%";}
        }
          }
      
         
    function closepasswordNav() {
          document.getElementById("changepasswordNav").style.width = "0%";
      
      }
</script>

<script>
    // Check for the query parameter
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('auto_open') === 'true') {
        // Find the <a> element by its ID or any other selector
        const link = document.getElementById("pass-btn");

        // Check if the link element exists
        if (link) {
            // Add an event listener to the link
            link.addEventListener('click', function(event) {
                // Remove the query parameter from the URL
                urlParams.delete('auto_open');

                // Generate the updated URL without the query parameter
                const updatedUrl = window.location.origin + window.location.pathname + urlParams.toString();

                // Change the URL to the updated URL
                window.history.replaceState({}, '', updatedUrl);
            });

            // Trigger the link click programmatically
            link.click();
        }
    }
</script>

<script>
    // Wait for the DOM to load
    document.addEventListener('DOMContentLoaded', function() {
        // Select all the messages with the 'alert' class
        var messages = document.querySelectorAll('.alert');
  
        // Loop through each message and set a timeout to remove it after 3 seconds,
        // except for error messages
        messages.forEach(function(message) {
            if (!message.classList.contains('error')) {
                setTimeout(function() {
                    message.remove();
                }, 3000);
            }
        });
    });
</script>
<script>
    var message = document.getElementById('fade-msg');
    if (!message.classList.contains('error')) {
        setTimeout(function() {
          message.style.opacity = '0';
        }, 1250);
    }
</script>