<div  id="changepasswordNav" class="cart1" style="width: 0%">
    <a href="javascript:void(0)" class="closebtn" onclick="closerightNav('changepasswordNav')" style="font-size: x-large;right: 15px;">&times;</a>
      <div class="title" style="padding-left:10px;padding-top: 10px">
          <div>Change Password</div>
          <p></p>
      </div>
      <div >
          <div class="container">
              <div id="passwordinfo" class="smallcontainer" style="display:block;">
                
              <div class="orgrow">  
                  <div class="orgrow">
                      
                      <form method = 'POST' id="password-form" enctype="multipart/form-data">    
                        {% csrf_token %}
                        <div id="password" class="subcontainer" style = "display: block" >
                              <div class="orgrow">
                                  <div class="col-50">
                                      <label for="currentpsw" style="width: 95%;" >Current Password :</label>
                                  </div>
                                  <div class="col-50">
                                      <input class="c-psw" style="width: 95%;" type="password" placeholder="Current Password..." name="currentpsw" id="currentpsw" required>
                                  </div>
                              </div>
                                <div class="orgrow">
                                    <div class="col-50">
                                        <label for="newpassword" >New Password :</label>
                                    </div>
                                    <div class="col-50">
                                        <input class="n-psw" style="width: 95%;" type="password" placeholder="New Password..." name="psw2" onfocus="showPswMsg()" onblur="hidePswMsg()" onkeyup="ChangePswMsgStatus2(psw2.value)" id="psw2" required>
                                            
                                            <div id="pswMessage">
                                               <h3 style="font-size:10px">Password must contain the following: </h3>
                                               <p id="lab1" style="background-color:inherit">✖ capital letters,</p> 
                                               <p id="lab2" >✖ small letters,</p> 
                                               <p id="lab3" >✖ special character,</p>
                                               <p id="lab4" >✖ number,</p>
                                               <p id="lab5" >✖ not less than 8 character.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="orgrow">
                                    <div class="col-50">
                                        <label for="newpassword" >Repeat Password :</label>
                                    </div>
                                    <div class="col-50">
                                        <input class="r-psw" style="width: 95%;" type="password" placeholder="Repeat Password..." name="psw-repeat2" onfocus="showPswMatchMsg()" onblur="hidePswMatchMsg()" onkeyup="ChangePswMsgStatus2(psw2.value)" id="psw-repeat2" required>
                                          
                                            <div id="pswMatchMsg">
                                                <p id="lab6" >✖ Password Matches</p>
                                            </div>
                                    </div>
                                
                                    <span class="psw-msg" style="color:lightgrey">ok</span>
                                
                                </div> 
                                                                          
                       </div>
                       <div class="orgrow">
                            <button style="margin : 5px;float: left;margin-right: 10px;" class="btn1 save-password" name="save-password" type="submit" value="Save">Save</button><button style="margin : 5px;float: left" class="btn1" id="password-cancel-btn" type="button" onclick="closerightNav('changepasswordNav')">Cancel</button>
                       </div> 
                      </form>
                  </div>
              </div>
              </div>
          </div>
  </div>
</div>

<script>
    document. addEventListener('mouseup', function(e) {
      var container = document. getElementById('changepasswordNav');
      if (! container. contains(e. target)) {
      container. style.width = "0%";
      
      }
      });
</script>
<script>
    window.addEventListener("resize", resizeCurtainMenu);
    function resizeCurtainMenu() {
    var w = window.innerWidth;
    if (document.getElementById("changepasswordNav").style.width != "0%")
      {if( w >= 1025 )
        {document.getElementById("changepasswordNav").style.width = "35%";}
        else 
        {
            if(w > 700 && w < 1025)
              {document.getElementById("changepasswordNav").style.width = "50%";}
              else
              {document.getElementById("changepasswordNav").style.width = "90%";}
      }
    }
    }
</script>
<Script>
    function openpasswordNav() {
      var w = window.innerWidth;

      if( w >= 1025 ){ 
          document.getElementById("changepasswordNav").style.width = "35%";
          }
          else {
              if(w > 700 && w < 1025)
                {document.getElementById("changepasswordNav").style.width = "50%";}
                else
                {document.getElementById("changepasswordNav").style.width = "90%";}
        }
          }
      
         
    function closepasswordNav() {
          document.getElementById("changepasswordNav").style.width = "0%";
      
      }
</script>

<script>
    // Check for the query parameter
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('auto_open') === 'true') {
        // Find the <a> element by its ID or any other selector
        const link = document.getElementById("pass-btn");

        // Check if the link element exists
        if (link) {
            // Add an event listener to the link
            link.addEventListener('click', function(event) {
                // Remove the query parameter from the URL
                urlParams.delete('auto_open');

                // Generate the updated URL without the query parameter
                const updatedUrl = window.location.origin + window.location.pathname + urlParams.toString();

                // Change the URL to the updated URL
                window.history.replaceState({}, '', updatedUrl);
            });

            // Trigger the link click programmatically
            link.click();
        }
    }
</script>

{% comment %} <script>
    // Wait for the DOM to load
    document.addEventListener('DOMContentLoaded', function() {
        // Select all the messages with the 'alert' class
        var messages = document.querySelectorAll('.alert');
  
        // Loop through each message and set a timeout to remove it after 3 seconds,
        // except for error messages
        messages.forEach(function(message) {
            if (!message.classList.contains('error')) {
                setTimeout(function() {
                    message.remove();
                }, 3000);
            }
        });
    });
</script> {% endcomment %}
{% comment %} <script>
    var message = document.getElementById('fade-msg');
    if (!message.classList.contains('error')) {
        setTimeout(function() {
          message.style.opacity = '0';
        }, 1250);
    }
</script> {% endcomment %}

<script>
    // Get a reference to the delete button
    const saveButton = document.querySelector('.save-password');
  
    // Attach an event listener to the delete button
    saveButton.addEventListener('click', (event) => {
      event.preventDefault(); // Prevent the default behavior of the button click
        
      const currentPsw = document.querySelector('.c-psw').value;
      const newPsw = document.querySelector('.n-psw').value;
      const repeatPsw = document.querySelector('.r-psw').value;
      const msgEl = document.querySelector('.psw-msg')
  
      // Construct the URL with the confirmation code as a query parameter
      const url = `/change_pass?cpsw=${encodeURIComponent(currentPsw)}&npsw=${encodeURIComponent(newPsw)}&rpsw=${encodeURIComponent(repeatPsw)}`;
      
      // Make an asynchronous request to delete the product from the server
      fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token
        },
      })
        .then(response => response.json())
        .then(data => {
          // Handle the response data
          // For example, display a success message or update the cart UI
          if (data.success) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.success(data.message);
             // Reset the input values to empty
            document.querySelector('.c-psw').value = '';
            document.querySelector('.n-psw').value = '';
            document.querySelector('.r-psw').value = '';
            msgEl.textContent = ''
            
            
          } else if (data.samePswError) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(data.message);
            document.querySelector('.c-psw').value = '';
            document.querySelector('.n-psw').value = '';
            document.querySelector('.r-psw').value = '';
            
          } else if (data.pswError) {
            console.log(data.pass_error)
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(data.message);
            document.querySelector('.c-psw').value = '';
            document.querySelector('.n-psw').value = '';
            document.querySelector('.r-psw').value = '';
            for (var i = 0; i < data.pass_error.length; i++) {
                var error = data.pass_error[i];
                var errorEl = document.createElement("p");
                errorEl.textContent = error;
                errorEl.style.color = "red";
                msgEl.appendChild(errorEl);
              }
          } else if (data.cPswError) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(data.message);
            document.querySelector('.c-psw').value = '';
            document.querySelector('.n-psw').value = '';
            document.querySelector('.r-psw').value = '';
          
          } else if (data.noPassError) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(data.message);
            document.querySelector('.c-psw').value = '';
            document.querySelector('.n-psw').value = '';
            document.querySelector('.r-psw').value = '';

          }
        })
        .catch(error => {
          // Handle any errors that occurred during the request
          console.error(error);
        });
    });
</script>
<Script>
    function ChangePswMsgStatus2(psw) {
        // Check password and put the results (true or false in a variable
            var result1 = psw.match(/[A-Z]/) ? "true" : "false";
            var result2 = psw.match(/[a-z]/) ? "true" : "false";
            var result3 = psw.match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/) ? "true" : "false";
            var result4 = psw.match(/[0-9]/) ? "true" : "false";
            var result5 = psw.length >= 8 ? "true" : "false";
            var result6 = document.getElementById("psw2").value;
            var result7 = document.getElementById("psw-repeat2").value;
        // -----------------------------
        // 1- check the password match :
        // ---------------------------
            if (result6 === "") {
                var element = document.getElementById("lab6");
                
                element.style.color = "red";
                element.innerHTML = element.innerHTML.replace(/✔/g, "✖");
            } else if (result6 === result7) {
                var element = document.getElementById("lab6");
                
                element.style.color = "green";
                element.innerHTML = element.innerHTML.replace(/✖/g, "✔");
            } else {
                var element = document.getElementById("lab6");
                
                element.style.color = "red";
                element.innerHTML = element.innerHTML.replace(/✔/g, "✖");
            }
        // ----------------------------------
        // 2- Check the password conditions :
        // ---------------------------------
        // create array for password check results variables
            results = [result1, result2, result3, result4, result5];
        // create array for password message parts
            labels = ["lab1", "lab2", "lab3", "lab4", "lab5"];
        // create for loop and using the previous 2 arrays in it to repalce 
        // the invalied message to valid for every part of the message
            for (i = 0; i < 5; i++) {
                if (results[i] === "true")
                {
                    var element = document.getElementById(labels[i]);
                    element.innerHTML = element.innerHTML.replace(/✖/g, "✔");
                    
                    element.style.color = "green";
                } else
                {
                    var element = document.getElementById(labels[i]);
                    element.innerHTML = element.innerHTML.replace(/✔/g, "✖");
                    
                    element.style.color = "red";
                }
            }
            ;
        }
        // END  of Check the password conditions ---------------------------
// 
//--------------------------------
// show password condition message 
//--------------------------------
    function hidePswMsg() {
    document.getElementById("pswMessage").style.display = "none";
    }
    ;
    function showPswMsg() {
    document.getElementById("pswMessage").style.display = "block";
    }
    ;
    // End show password condition message ---------------------------------------
    // 
    //--------------------------------
    // show password Match condition message 
    //--------------------------------
    function hidePswMatchMsg() {
    document.getElementById("pswMatchMsg").style.display = "none";
    }
    ;
    function showPswMatchMsg() {
    document.getElementById("pswMatchMsg").style.display = "block";
    }
    ;
    // End show password condition message ---------------------------------------
    
</script>