{% extends 'galaxy/base.html' %}
{% load static %}
    {% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/pricing.css' %}"/>
    <style>
        .tooltip {
           position: relative;
           display: inline-block;
        }
        
        .tooltip .tooltiptext {
           visibility: hidden;
           width: 210px;
           background-color: #D3D3D3;
           color: #000000;
           text-align: center;
           border-radius: 6px;
           padding: 5px;
           position: absolute;
           z-index: 1;
           top: -18%;
           left: 130px;
           transform: translateX(-50%);
           opacity: 0;
           transition: opacity 0.3s;
        }
        
        .tooltip:hover .tooltiptext {
           visibility: visible;
           opacity: 0.85;
           font-size: 15px;
        }
        
        .tooltip .exclamation-mark {
           color: white;
           cursor: help;
        }
    </style>
    {% endblock header %}
    
    {% block body %}
    
        <div style="text-align: center; color: black;">
                <span style="text-align: center; font-size: xxx-large;"><strong>Pay only for what you need</strong></span>
                <br>
                {% comment %} <span style="text-align:center;font-size: 30px">Pay only for what you need</span> {% endcomment %}
                <div style="text-align:center">
                    <h2>Monthly<label class="switch"><input id="myCheckbox" type="checkbox"><span class="slider round"></span></label>Annually</h2>
                </div>
        </div>   
        <div class="columns">
            <ul class="price">
                <li class="header" style="background-color:green ; text-align:center">Basic Modules
                       <span class="tooltip">
                          <span style="font-size:large;" class="fa fa-info-circle"></span>
                          <span class="tooltiptext">You should minimum buy 1 main product to start work.</span>
                       </span>
                    
                <hr> <a style="font-size:20px; color: white;" >Select Main Product </a> </li>
                {% comment %} ----Monthly bundles---- {% endcomment %}
                {% comment %} <li class="posM"> Point of Sales <button {% if request.user.is_authenticated %} onclick="location.href='/add_cart/6/Monthly'" {% else %} onclick="location.href='/login/'" {% endif %} class="button "><a style="color: white;">${{POS_M.Price}} -</a> Add to Cart</button></li> {% endcomment %}
                <li class="posM">Point of Sales<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if POS_M.id in p_ids or POS_A.id in p_ids %} disabled {% endif %}{% if m_pos or a_pos %}disabled{% endif %} onclick="delayedAction('/add_cart/6/Monthly/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if POS_M.id in p_ids or POS_A.id in p_ids %}Item added {% elif m_pos or a_pos %}Subscribed{% else %}$ {{POS_M.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="imM">Inventory Management<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if IM_M.id in p_ids or IM_A.id in p_ids %} disabled {% endif %}{% if m_im or a_im %}disabled{% endif %} onclick="delayedAction('/add_cart/7/Monthly/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if IM_M.id in p_ids or IM_A.id in p_ids %}Item added {% elif m_im or a_im %}Subscribed{% else %}$ {{IM_M.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="crmM">CRM<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if CRM_M.id in p_ids or CRM_A.id in p_ids %} disabled {% endif %}{% if m_crm or a_crm %}disabled{% endif %} onclick="delayedAction('/add_cart/8/Monthly/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if CRM_M.id in p_ids or CRM_A.id in p_ids %}Item added {% elif m_crm or a_crm %}Subscribed{% else %}$ {{CRM_M.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="aM">Accounting<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if A_M.id in p_ids or A_A.id in p_ids %} disabled {% endif %}{% if m_a or a_a %}disabled{% endif %} onclick="delayedAction('/add_cart/9/Monthly/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if A_M.id in p_ids or A_A.id in p_ids %}Item added {% elif m_a or a_a %}Subscribed{% else %}$ {{A_M.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>

                {% comment %} ----Anually bundles---- {% endcomment %}
                <li class="posA"> Point of Sales<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if POS_A.id in p_ids or POS_M.id in p_ids %} disabled {% endif %}{% if m_pos or a_pos %}disabled{% endif %} onclick="delayedAction('/add_cart/2/Annually/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if POS_A.id in p_ids or POS_M.id in p_ids %}Item added {% elif m_pos or a_pos %}Subscribed{% else %}$ {{POS_A.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="imA">Inventory Management<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if IM_A.id in p_ids or IM_M.id in p_ids %} disabled {% endif %}{% if m_im or a_im %}disabled{% endif %} onclick="delayedAction('/add_cart/3/Annually/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if IM_A.id in p_ids or IM_M.id in p_ids %}Item added {% elif m_im or a_im %}Subscribed{% else %}$ {{IM_A.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="crmA">CRM<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if CRM_A.id in p_ids or CRM_M.id in p_ids %} disabled {% endif %}{% if m_crm or a_crm %}disabled{% endif %} onclick="delayedAction('/add_cart/4/Annually/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if CRM_A.id in p_ids or CRM_M.id in p_ids %}Item added {% elif m_crm or a_crm %}Subscribed{% else %}$ {{CRM_A.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
                <li class="aA">Accounting<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} {% if A_A.id in p_ids or A_M.id in p_ids %} disabled {% endif %}{% if m_a or a_a %}disabled{% endif %} onclick="delayedAction('/add_cart/5/Annually/Basic')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">{% if A_A.id in p_ids or A_M.id in p_ids  %}Item added {% elif m_a or a_a %}Subscribed{% else %}$ {{A_A.Price}}{% endif %}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i></button></li></li>
            </ul>
        </div>
        <div class="columns">
            <ul class="price">
                <li class="header" style="background-color:green ;text-align:center">Add-ons 
                <span class="tooltip">
                    <span style="font-size:large;" class="fa fa-info-circle"></span>
                    <span style="text-align: left;" class="tooltiptext">Minimum requirement:<br>
                        - 1 Organization<br>
                        - 1 Store<br>
                        - 1 User
                    </span>
                 </span><hr> <a style="font-size:20px; color: white;" >Add extra products to your Modules </a> </li>
                {% comment %} ----Monthly Bundles---- {% endcomment %}
            
                <li class="oM"> 1 Organization<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/17/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{O_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="storeM">1 Store
                    <span class="tooltip">
                        <span style="font-size:large;" class="fa fa-info-circle"></span>
                        <span style="text-align:left" class="tooltiptext">Each Store Includes:<br>- 10,000 Transactions / Month<br>- 10GB Storage</span>
                    </span><button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/18/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{STORE_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                
                <li class="uM">1 User<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/19/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{U_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="rM">5 Reports<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/20/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{R_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="tM">10,000 Transactions / Month<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/21/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{T_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="slaM">SLA<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/22/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{SLA_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="storageM">10GB Storage<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/23/Monthly/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{STORAGE_M.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                {% comment %} ----Anually Bundles---- {% endcomment %}
                <li class="oA"> 1 Organization<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/10/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{O_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="storeA">1 Store
                    <span class="tooltip">
                        <span style="font-size:large;" class="fa fa-info-circle"></span>
                        <span style="text-align:left" class="tooltiptext">Each Store Includes:<br>- 10,000 Transactions / Month<br>- 10GB Storage</span>
                    </span><button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/11/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{STORE_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="uA">1 User<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/12/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{U_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="rA">5 Reports<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/13/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{R_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="tA">10,000 Transactions / Month<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/14/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{T_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="slaA">SLA<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/15/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{SLA_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
                <li class="storageA">10GB Storage<button {% if request.user.user_Type == s_a %} {% else %} disabled {% endif %}{% if request.user.is_authenticated %} onclick="delayedAction('/add_cart/16/Annually/Add-Ons')" {% else %} onclick="location.href='/login/'" {% endif %} class="cart-button "><span class="add-to-cart">$ {{STORAGE_A.Price}}</span><span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button></li></li>
            </ul>
        </div>
    
    {% endblock body %}
    {% block additional %}  
        <Script>
           

            var checkbox = document.getElementById("myCheckbox");
        //Monthlyy
            //Basic---
            var posMonthly = document.querySelector(".posM");
            var inventoryMonthly = document.querySelector(".imM");
            var crmMonthly = document.querySelector(".crmM");
            var accountingMonthly = document.querySelector(".aM");
            //Additional---
            var organizationMonthly = document.querySelector(".oM");
            var storeMonthly = document.querySelector(".storeM");
            var userMonthly = document.querySelector(".uM");
            var reportsMonthly = document.querySelector(".rM");
            var transactionMonthly = document.querySelector(".tM");
            var slaMonthly = document.querySelector(".slaM");
            var storageMonthly = document.querySelector(".storageM");
        //Anuallyy
            //Basic---
            var posAnually = document.querySelector(".posA");
            var inventoryAnually = document.querySelector(".imA");
            var crmAnually = document.querySelector(".crmA");
            var accountingAnually = document.querySelector(".aA");
            //Additional---
            var organizationAnually = document.querySelector(".oA");
            var storeAnually = document.querySelector(".storeA");
            var userAnually = document.querySelector(".uA");
            var reportsAnually = document.querySelector(".rA");
            var transactionAnually = document.querySelector(".tA");
            var slaAnually = document.querySelector(".slaA");
            var storageAnually = document.querySelector(".storageA");
            
            function updateContent() {
            if (checkbox.checked) {
                //Basic Monthly---
                posMonthly.style.display = "none";
                inventoryMonthly.style.display = "none";
                crmMonthly.style.display = "none";
                accountingMonthly.style.display = "none";
                //Additional Monthly---
                organizationMonthly.style.display = "none"
                storeMonthly.style.display = "none"
                userMonthly.style.display = "none"
                reportsMonthly.style.display = "none"
                transactionMonthly.style.display = "none"
                slaMonthly.style.display = "none"
                storageMonthly.style.display = "none"
                //Basic Anually---
                posAnually.style.display = "block";
                inventoryAnually.style.display = "block";
                crmAnually.style.display = "block";
                accountingAnually.style.display = "block";
                //Additional Anually---
                organizationAnually.style.display = "block"
                storeAnually.style.display = "block"
                userAnually.style.display = "block"
                reportsAnually.style.display = "block"
                transactionAnually.style.display = "block"
                slaAnually.style.display = "block"
                storageAnually.style.display = "block"

            } else {
                //Basic Monthly---
                posMonthly.style.display = "block";
                inventoryMonthly.style.display = "block";
                crmMonthly.style.display = "block";
                accountingMonthly.style.display = "block";
                //Additional Monthly---
                organizationMonthly.style.display = "block"
                storeMonthly.style.display = "block"
                userMonthly.style.display = "block"
                reportsMonthly.style.display = "block"
                transactionMonthly.style.display = "block"
                slaMonthly.style.display = "block"
                storageMonthly.style.display = "block"
                //Basic Anually---
                posAnually.style.display = "none";
                inventoryAnually.style.display = "none";
                crmAnually.style.display = "none";
                accountingAnually.style.display = "none";
                //Additional Anually---
                organizationAnually.style.display = "none"
                storeAnually.style.display = "none"
                userAnually.style.display = "none"
                reportsAnually.style.display = "none"
                transactionAnually.style.display = "none"
                slaAnually.style.display = "none"
                storageAnually.style.display = "none"
            }
            }

            checkbox.addEventListener("change", updateContent);

            updateContent();

        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
        
        
                const cartButtons = document.querySelectorAll('.cart-button');
        
                cartButtons.forEach(button => {
        
                        button.addEventListener('click',cartClick);
        
                });
        
                function cartClick(){
                let button =this;
                button.classList.add('clicked');
                /* button.classList.remove('clicked');*/
                }
                
                
                
            });
        </script>
        <script>
            function delayedAction(url) {
              // Wait for 2 seconds (2000 milliseconds)
              setTimeout(function() {
                // Code to be executed after the delay
                // Replace this with your desired action
                window.location.href = url;
              }, 2250);
            } 
        </script>
    {% endblock additional %}       
    
     {% comment %} var checkbox = document.getElementById("myCheckbox");

            // Get the button elements
            var button1 = document.getElementById("101");
            var button2 = document.getElementById("102");
            var button3 = document.getElementById("103");
            var button4 = document.getElementById("104");
            var button5 = document.getElementById("201");
            var button6 = document.getElementById("202");
            var button7 = document.getElementById("203");
            var button8 = document.getElementById("204");
            var button9 = document.getElementById("205");
            var button10 = document.getElementById("206");
            var button11 = document.getElementById("207");
            
            // Function to handle checkbox change event
            function handleCheckboxChange() {
              if (checkbox.checked) {
                // Checkbox is checked
                button1.innerText = "${{POS_A.Price}} -";
                button2.innerText = "${{IM_A.Price}} -";
                button3.innerText = "${{CRM_A.Price}} -";
                button4.innerText = "${{A_A.Price}} -";
                button5.innerText = "${{O_A.Price}} -";
                button6.innerText = "${{STORE_A.Price}} -";
                button7.innerText = "${{U_A.Price}} -";
                button8.innerText = "${{R_A.Price}} -";
                button9.innerText = "${{T_A.Price}} -";
                button10.innerText = "${{SLA_A.Price}} -";
                button11.innerText = "${{STORAGE_A.Price}} -";
              } else {
                // Checkbox is not checked
                button1.innerText = "${{POS_M.Price}} -";
                button2.innerText = "${{IM_M.Price}} -";
                button3.innerText = "${{CRM_M.Price}} -";
                button4.innerText = "${{A_M.Price}} -";
                button5.innerText = "${{O_M.Price}} -";    
                button6.innerText = "${{STORE_M.Price}} -";
                button7.innerText = "${{U_M.Price}} -";
                button8.innerText = "${{R_M.Price}} -";
                button9.innerText = "${{T_M.Price}} -";
                button10.innerText = "${{SLA_M.Price}} -";
                button11.innerText = "${{STORAGE_M.Price}} -";
              }
            }
            
            // Add event listener to the checkbox
            checkbox.addEventListener("change", handleCheckboxChange);
            
            // Call the handleCheckboxChange function initially to set the initial text
            handleCheckboxChange(); {% endcomment %}
    
    
    
    
    
    
    
    










    {% comment %} {% if subed and plan_1 %}
        
        <table style="width: 100%" >

            <tr>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="margin:0 -16px;width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Basic</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribed</button>
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Recommended</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 15</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/2'">Upgrade</button>

                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom">
                        <li class="w3-large w3-dark-grey w3-xxlarge w3-padding-large">Pro</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">50GB Storage</li>
                        <li class="w3-large w3-padding-small">Endless Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/3'">Upgrade</button>
                            
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% elif subed and plan_2%}
        <table style="width: 100%" >

            <tr>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="margin:0 -16px;width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Basic</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribe</button>

                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Recommended</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 15</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribed</button>
                            
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom">
                        <li class="w3-large w3-dark-grey w3-xxlarge w3-padding-large">Pro</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">50GB Storage</li>
                        <li class="w3-large w3-padding-small">Endless Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                           
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/3'">Upgrade</button>
                            
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% elif subed and plan_3 %}
        <table style="width: 100%" >

            <tr>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="margin:0 -16px;width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Basic</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribe</button>
                            
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Recommended</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 15</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribe</button>
                            
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom">
                        <li class="w3-large w3-dark-grey w3-xxlarge w3-padding-large">Pro</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">50GB Storage</li>
                        <li class="w3-large w3-padding-small">Endless Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            
                            <button class="w3-button w3-white w3-padding-large w3-hover-green" disabled>Subscribed</button>
                            
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% else %}
        <table style="width: 100%" >

            <tr>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="margin:0 -16px;width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Basic</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            {% if request.user.is_authenticated %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/1'">Subscribe</button>
                            {% else %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/login'">Subscribe</button>
                            {% endif %}
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Recommended</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 15</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            {% if request.user.is_authenticated %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/2'">Subscribe</button>
                            {% else %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/login'">Subscribe</button>
                            {% endif %}
                            
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom">
                        <li class="w3-large w3-dark-grey w3-xxlarge w3-padding-large">Pro</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">50GB Storage</li>
                        <li class="w3-large w3-padding-small">Endless Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                           
                            {% if request.user.is_authenticated %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/payment/3'">Subscribe</button>
                            {% else %}
                                <button class="w3-button w3-white w3-padding-large w3-hover-green" onclick="location.href='/login'">Subscribe</button>
                            {% endif %}
                            
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    {% endif %}
        <!-- End Grid/Pricing tables -->

{% endcomment %}
