{% load static %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>{{page_name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="{% static 'css/w3.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/GalaxyLanding.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/avatar.css' %}"/>
        <script src="{% static 'js/GalaxyLanding.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/dropdown_menu.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .right-align {
                float: right;
                top: 9px;
            }
        </style>
    </head>

    <body>
        <div class="topnav" id="myTopnav">
            <a href="{% url 'galaxy:home' %}"  class="active">Home</a>
            <a href="{% url 'galaxy:pricing' %}" >Pricing</a>
            <a href="{% url 'galaxy:contact_us' %}" >Contact</a>
            <a href="{% url 'galaxy:about_us' %}" >About</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'App:apphome' %}?username={{user.username}}">My System</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if request.user.username %}      
                    <a style="float: right" class="active" href="{% url 'galaxy:logout' %}">Logout</a>
                    <div class="dropdown" style="float: right">
                        <a style="float: right; color: #FFFFFF; text-decoration: none; font-family: 'Arial', sans-serif; font-size: 18px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">{{request.user.username|capfirst}}</a>
                            <div class="dropdown-content" style="float: right">
                                <div class="header">
                                  <h4>Account Settings & more </h4>
                                </div>   
                                <div class="row">
                                <div class="column">
                                 <a href="#">Organizations</a>
                                 <a href="#">Profile</a>
                                 <a href="#">Password</a>
                                </div>
                          
                                </div>
                            </div>
                    </div>
                    <div class="avatar avatar--medium active right-align">
                        <img src="{{request.user.avatar.url}}" />
                    </div>
                {% else %}
                    <a style="float: right" class="active" href="{% url 'galaxy:logout' %}">Logout</a>
                    <a style="float: right">{{request.user.email}}</a>
                    <div class="avatar avatar--medium active right-align">
                        <img src="{{request.user.avatar.url}}" />
                    </div>
                {% endif %}
            {% else %}
                <a style="float: right" class="active" href = "{% url 'galaxy:login' %}">Login</a>
            {% endif %}
{% comment %} onclick="document.getElementById('id01').style.display = 'block' {% endcomment %}
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        
        
        
        <table style="width: 100%" >

            <tr>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="margin:0 -16px;width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Basic</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            <button class="w3-button w3-white w3-padding-large w3-hover-green">Sign Up</button>
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-gray w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xxlarge w3-padding-large">Recommended</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">5GB Storage</li>
                        <li class="w3-large w3-padding-small">Mail Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 15</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            <button class="w3-button w3-white w3-padding-large w3-hover-green">Sign Up</button>
                        </li>
                    </ul>
                </td>
                <td class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom" style="width:33%">
                    <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off w3-row-padding w3-margin-bottom">
                        <li class="w3-large w3-dark-grey w3-xxlarge w3-padding-large">Pro</li>
                        <li class="w3-large w3-padding-small">Web Design</li>
                        <li class="w3-large w3-padding-small">Photography</li>
                        <li class="w3-large w3-padding-small">50GB Storage</li>
                        <li class="w3-large w3-padding-small">Endless Support</li>
                        <li class="w3-large w3-padding-small">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-16">
                            <button class="w3-button w3-white w3-padding-large w3-hover-green">Sign Up</button>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>



        <!-- End Grid/Pricing tables -->

    </body>
</html>
