{% load static %}
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/user_profile.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/products_managment.css' %}"/>


</head>
<body>
<div id="userprofile" class="modal">
    <!-- user profile -->
    <div class="modal-content">
      <span class="close">&times;</span>
        <form method = 'POST' id="user-form" enctype="multipart/form-data">    
            {% csrf_token %}
            <div id="info" class="subcontainer" style = "display: block" >
                <div class="orgrow">  
                    <div class="col-15" style = "padding-top: 20px; padding-right: 15px;">
                        <img src="{{request.user.avatar.url}}" width="100" height="180" class="useravatar">
                        <p> </p>
                        <div class="orgrow">
                            <div  class="col-100" >
                                {{userform.avatar}}
                            </div>
                        </div>
                    </div>
                    
              <div class="col-40" style="">
                <div class="orgrow">
                    <div class="col-25">
                        <label for="username" >User Name :</label>
                    </div>
                    <div class="col-75">
                        {{userform.username}}
                    </div>
                </div>
                <div class="orgrow">
                    <div class="col-25">
                        <label for="AddressFiled">First Name :</label>
                    </div>
                    <div class="col-75">
                        {{userform.first_name}}
                    </div>
                </div>
                <div class="orgrow">
                    <div class="col-25">
                        <label for="country">Last Name :</label>
                    </div>
                    <div class="col-75">
                        {{userform.last_name}}
                    </div>
                </div>
                <div class="orgrow">
                    <div class="col-25">
                        <label for="userEmail">E-mail :</label>
                    </div>
                    <div class="col-75">
                        {{userform.email}}
                    </div>
                </div>
              </div>
              <div class="col-40" style="padding-left:25px;">
                
                <div class="orgrow">
                <div class="col-25">
                  <label for="language">Language :</label>
                </div>
                <div class="col-75">
                    {{userform.Language}}
                </div>
                </div>
                <div class="orgrow">
                <div class="col-25">
                  <label for="gender">Gender :</label>
                </div>
                <div class="col-75">
                  {{userform.Gender}}
                </div>
                </div>
                <div class="orgrow">
                <div class="col-25">
                  <label for="birthdate">Birth Date :</label>
                </div>
                <div class="col-75">
                  {{userform.Birth_Date}}
                </div>
                </div>
                <div class="orgrow">
                <div class="col-25">
                  <label for="telephone">Telephone :</label>
                </div>
                <div class="col-75">
                  {{userform.Telephone}}
                </div>
                </div>
              </div>
            <p></p>        
            <div class="orgrow">
          <button style="float: right" class="btn" id="cancel-btn" type="button" onclick="location.reload()">Cancel</button><a>&nbsp;</a><button style="float: right;margin-right: 10px;" class="btn" name="save-profile" type="submit" value="Save">save</button>
            </div> 
        </form>
    </div>
</div>



  <Script>
    // Get the modal
    var modal = document.getElementById("userprofile");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {           
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {            
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  </script>
  <script>
    function updateFileName(input) {
        const file = input.files[0];
        const fileName = file ? file.name : '';
        document.getElementById('selectedFileName').textContent = fileName;
    }
  </script>