<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Galaxy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            {{username}}'s system
            <br>
            <a href = "{% url 'App:default_db' %}">Landing page</a>
        
            <form method="POST">
            {% csrf_token %}

                {{form}}
            
                <input type="submit" value="Submit" onclick="location.href='{% url 'App:apphome' %}?username={{username}}'">
            


            </form>
        
        </div>
    </body>
</html>

